<div id="adminPosts">
	<div class="centralized new_forum">
	<h1>Write a new forum</h1>
	<%= form_for @forum do |f| %>
		<%= f.text_field :title, placeholder: 'Forum name' %>
		<%= f.text_area :description, placeholder: 'Description' %>
		<%= submit_tag 'Update', class: "btn green" %>
		<div class="clear"></div>
	<% end %>
	</div>
</div>