<div class="forum_container centralized">
	<h1><%= t "community.title" %></h1>
	<p class='tagline'><%= t "community.overview" %></p>
	<ul>
	<!--<%= resource_name %>-->
	<% @forums.each do |forum| %>
		<li id="forum<%= forum.id %>" class="forum">
			<div class="forum_title">
				<div class="left">
					<h3><%= forum.title %></h3> <span><%= forum.description %></span>
				</div>
				<div class="right"><span>Answers</span><span>Last answer</span></div>
			</div>
		<ul>
		<% if forum.topics.empty? == false %>
			<% forum.topics.order("updated_at DESC").each do |topic| %>
				<li>
					<h4><%= link_to topic.title.truncate(40), forum_topic_path(:id => topic.id, :forum_id => forum.id) %></h4>
					<span><%= raw strip_tags(topic.content).truncate(55) %></span>
					<span class="by_author">by <%= topic.user.name.truncate(2, omission: ".") %> <%= topic.user.surname %></span>
					<span class='last_answer'>
						<% if topic.topic_answers.empty? == false %> 
							<%= topic.topic_answers.last.updated_at.strftime("%d %h '%y") %>
						<% else %>
							<%= topic.created_at.strftime("%d %h '%y") %>
						<% end %>
					</span>
					<span class='answers'><%= topic.topic_answers.size %></span></li>
			<% end %>
		<% end %>
		</ul>
		</li>
	<% end %>
	</ul>
	<div class='action'>
		<%= link_to 'Write a topic', new_forum_topic_path(:forum_id => 1), class: "btn blue new_topic", remote: true %>
	</div>
</div>