<div class="contact_us_page">
	<div class="static_hero">
		<div class="centralized"><h1><%= t 'contactPage.title' %></h1></div>
	</div>
	<div id="terms" class="centralized">
		<p><%= t 'contactPage.description' %></p>
		<div class="left">
			<h2><%= t 'contactPage.question' %></h2>
			<%= form_for @message, remote: true do |f| %>
				<div class="field"><%= f.email_field :email, placeholder: "#{t 'devise.emailaddress'}" %></div>
				<div class="field select"><%= f.select(:subject, options_for_select(["#{t 'contactPage.subject.subjectone'}", "#{t 'contactPage.subject.subjecttwo'}", "#{t 'contactPage.subject.subjectthree'}"])) %></div>
				<div class="field"><%= f.text_area :message, placeholder: "#{t 'contactPage.yourmessage'}" %></div>
				<div class="action">
					<%= submit_tag "#{t 'devise.send'}", class: "blue btn medium" %>
				</div>
			<% end %>
		</div>
		<div class="right">
			<h2><%= t "contactPage.descriptiontwo" %></h2>
			<div class="box">
				<p><a href="http://www.gstarcad.net/about.html" target="_blank">Suzhou Gstarsoft Co., Ltd</a> <%= t "contactPage.gstarcadinfo" %></p>
			</div>
			<div class="box last">
				<p><a href="http://www.cadprofi.com/main/en/contact/about-us" target="_blank">CADprofi</a> <%= t "contactPage.cadprofiinfo" %></p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</h2>