<h2>Almost there...</h2>
<div class="tagline">Please fill the form below.</div>
<%= form_tag(subscribtion_list_subscribe_path, id: "subscribe", remote: "true") do %>
   <%= email_field(:email, :address, {id: "mailEmail", placeholder: "Email Address"}) %>
   <%= text_field(:email, :firstname, {id: "mailName", placeholder: "First Name"}) %>
   <%= text_field(:email, :lastname, {id: "mailSurname", placeholder: "Last Name"}) %>
   <%= submit_tag("Sign me up & get the discount!", {class: "btn green send"})  %>
<% end %>