	<!-- Social Media SDKs -->
	<%= render :partial => '/shared/socialmediasdks' %> 
	<!-- Social Media SDKs ends -->

	<div class="loader">
	<%= image_tag("logo.png") %>
	<span>Loading ...</span>
	</div>

	<div id="leftSection" class="mech_landing">
		<div class="positioned">
			<!--
			<div class="phone">
				<img src="http://assets.cad2b.co.uk/landing/images/phone.png">
				<span>0808 189 1390</span>
			</div>-->

			<%= link_to image_tag("cadprofi/cadprofi-hvac-piping-logo.jpg", class: "logo-gstar", alt: "GstarCAD 2016 - New features"), professional_cad_path %>

			<h1>CADprofi HVAC &amp; Piping</h1>
			<p class='tagline'>Design fast and efficiently. Parametric CAD-application for design technical building equipment. All installation kinds will be supported, i.e. heating, ventilation, air conditioning, piping and ducting.<br>Thanks to many features available in the CADprofi program you will perform your job much faster.</p>

			<h2>Sign up to download free trial</h2>

			<%= flash[:error] %>

			<%= form_tag(subscribtion_list_subscribe_path, id: "subscribe", remote: "true") do %>
				<div class="field"><%= email_field(:email, :address, {id: "mailEmail", placeholder: "Email Address"}) %></div>
			   	<div class="field"><%= text_field(:email, :firstname, {id: "mailName", placeholder: "First Name"}) %></div>
			   	<div class="field"><%= text_field(:email, :lastname, {id: "mailSurname", placeholder: "Last Name"}) %></div>
			   <%= hidden_field_tag :iscadprofipage %>
			   <%= submit_tag("Sign me up!", {class: "btn green send"})  %>
			<% end %>

			<div class="share_buttons centralized">
	          <a class="twitter-share-button"
	            href="https://twitter.com/intent/tweet?text=Try for free CADprofi HVAC&Piping now!&url=http://cad2b.co.uk/get-cadprofi-hvac-and-piping&via=cad2b">
	          Tweet</a>
	          <a href="https://www.facebook.com/dialog/feed?app_id=147982825558188&link=http://cad2b.co.uk/&name=Try for free CADprofi HVAC&Piping now!&description=Parametric CAD-application for design technical building equipment. All installation kinds will be supported, i.e. heating, ventilation, air conditioning, piping and ducting.&caption=By CAD2B&redirect_uri=http://cad2b.co.uk/get-cadprofi-hvac-and-piping" target="_blank" class="fb-share"><%= image_tag('fb-icon.png') %> Share</a>
			</div>

		</div>
		<span class="bg_image"></span>
	</div>
	<div id="rightSection">
		<div class="positioned">

			<div id="versions" class="panel">
				<a href="http://cad2b.co.uk/uk/technical-applications/cadprofi-hvac-and-pipng#prices"><span class="starts_from">For a small price you can easily draw and edit projects using advanced commands and the largest library of symbols and objects. Starting from &pound;70</span></a>
		      	<div class="package one">
			        <h4>CP-Symbols HVAV &amp; Piping</h4>
			        <ul>
			          <li>A set of CAD symbols from various industries.</li>
			          <li>Possibility to buy a single library, whole branch series or a whole set (Suite).</li>
			          <li>Compatibility with the latest CAD programs.</li>
			          <li>Possibility to create specifications.</li>
			        </ul>
		      	</div>
		      	<div class="package two">
		        	<h4>CADprofi HVAC &amp; Piping</h4>
			        <ul>
			          <li>A comprehensive program that help in designing.</li>
			          <li>Acess to libraries of well-known manufacturers.</li>
			          <li>Extended content of symbols libraries and parametrical objects from many standards.</li>
			          <li>Advanced editor for schemes and diagrams.</li>
			          <li>Possibility to extend the databases on your own.</li>
			          <li>Tools for full description and projects detailing.</li>
			          <li>Compatibility with the latest CAD programs.</li>
			          <li>Extended specification creator.</li>
			          <li>Additional edition commands.</li>
			        </ul>
		      	</div>
			</div>

			<h2>Featured videos</h2>
			<div class="features_container">
				<div class="arrow_controls">
					<a href="#" class="prev control"></a>
					<a href="#" class="next control"></a>
				</div>
				<div class="features panel">
					<ul data-state="enabled">
						<li id='1' class='active'>
							<div class="video">
								<iframe id="video1" width="100%" height="100%" src="https://www.youtube.com/embed/OzmpNV2caqg?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Symbols</h3>
							<p>User is able to find in the program all symbols that are needed in the edition of schemes. During the insertion of symbols, user can specify all main techical parameters, wich will be later included when creating specification.</p>
						</li>
						<li id='2'>
							<div class="video">
								<iframe id="video2" width="100%" height="100%" src="https://www.youtube.com/embed/GnhEvhTCy1s" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Lines</h3>
							<p>CADprofi allows to simultaneously draw multiple schematic lines. There are many types of lines available in the program. User can also define additional types of lines or installations</p>
						</li>
						<li id='3'>
							<div class="video">
								<iframe id="video3" width="100%" height="100%" src="https://www.youtube.com/embed/tTwD1NPhv-w" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Schemes</h3>
							<p>In the CADprofi HVAC&amp;Piping there are already prepared fragments of schemes. USer can also define schemes by themeselves, thanks to wich it will be possible to use them in next projects</p>
						</li>
						<li id='4'>
							<div class="video">
								<iframe id="video4" width="100%" height="100%" src="https://www.youtube.com/embed/tzKhwN3210A" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Pipes</h3>
							<p>The “2D Pipes- plan” command allows to insert to the drawings single fittings and lines. It is possible to specify all dimension of inserted elements or select it from the database of normalized sizes of from the databases or manufactures catalogs.</p>
						</li>
						<li id='5'>
							<div class="video">
								<iframe id="video5" width="100%" height="100%" src="https://www.youtube.com/embed/MwZ9RkMsCfg" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Air Conditioning</h3>
							<p>CADprofi HVAC&amp;Piping is used to draw ventilation ducts and fittings.</p>
						</li>
					</ul>
					<!--<img src="http://assets.cad2b.co.uk/landing/images/gstarcad-2016-user-interface.gif">-->
					<a href="http://cad2b.co.uk/uk/technical-applications/cadprofi-hvac-and-piping#overview" class="btn green more">See more functions</a>
				</div>
			</div>
			<p class="info">CAD2B is a provider of CAD design software and DWG based applications.</p>
			<a href="http://www.cad2b.co.uk"><%= image_tag "logo-gray.png", class: "logo", alt: "Logo CAD2B" %></a>
		</div>
	</div>

