	<!-- Social Media SDKs -->
	<%= render :partial => '/shared/socialmediasdks' %> 
	<!-- Social Media SDKs ends -->

	<div class="loader">
	<%= image_tag("logo.png") %>
	<span>Loading ...</span>
	</div>

	<div id="leftSection">
		<div class="positioned">
			<!--
			<div class="phone">
				<img src="http://assets.cad2b.co.uk/landing/images/phone.png">
				<span>0808 189 1390</span>
			</div>-->

			<%= link_to image_tag("gstarlogo-2016.png", class: "logo-gstar", alt: "GstarCAD 2016 - New features"), professional_cad_path %>

			<h1>The new GstarCAD 2016 is here.</h1>
			<p class='tagline'>Easy to use, low cost CAD program that will increase your productivity and improve the quality of your design. GstarCAD 2016 is simple, flawless CAD platform created specifically for more efficiency</p>

			<h2>Sign up to download free trial and get 10% discount</h2>

			<%= flash[:error] %>

			<%= form_tag(subscribtion_list_subscribe_path, id: "subscribe", remote: "true") do %>
				<div class="field"><%= email_field(:email, :address, {id: "mailEmail", placeholder: "Email Address"}) %></div>
			   	<div class="field"><%= text_field(:email, :firstname, {id: "mailName", placeholder: "First Name"}) %></div>
			   	<div class="field"><%= text_field(:email, :lastname, {id: "mailSurname", placeholder: "Last Name"}) %></div>
			   <%= submit_tag("Sign me up & get the discount!", {class: "btn green send"})  %>
			<% end %>

			<div class="share_buttons centralized">
	          <a class="twitter-share-button"
	            href="https://twitter.com/intent/tweet?text=Try for free GstarCAD 2016 and get 10%25 discount now!&url=http://cad2b.co.uk/get-gstarcad-2016&via=cad2b">
	          Tweet</a>
	          <a href="https://www.facebook.com/dialog/feed?app_id=147982825558188&link=http://cad2b.co.uk/&name=Try for free GstarCAD 2016 and get 10% discount now!&description=Easy to use, low cost CAD program that will increase your productivity and improve the quality of your design. GstarCAD 2016 is simple, flawless CAD platform created specifically for more efficiency&caption=By CAD2B&redirect_uri=http://cad2b.co.uk/get-gstarcad-2016" target="_blank" class="fb-share"><%= image_tag('fb-icon.png') %> Share</a>
			</div>

		</div>
		<span class="bg_image"></span>
	</div>
	<div id="rightSection">
		<div class="positioned">

			<div id="versions" class="panel">
				<a href="http://www.cad2b.co.uk/uk/professional-cad#prices"><span class="starts_from">LT, Standard or Professional, choose the best for you, starting from &pound;189</span></a>
		      	<div class="package one">
			        <h4>LT</h4>
			        <ul>
			          <li>All the 2D Features and Performances you need to start working</li>
			        </ul>
		      	</div>
		      	<div class="package two">
		        	<h4>Standard</h4>
			        <ul>
			          <li>LT Features</li>
			          <li>Express Tools</li>
			          <li>Application Support</li>
			        </ul>
		      	</div>
		      	<div class="package three">
			        <h4>Professional</h4>
			        <ul>
			          <li>Standard Features</li>
			          <li>ACIS 3D Modeling</li>
			          <li>Dynamic Block Editor</li>
			        </ul>
		      	</div>
			</div>

			<h2>What's new?</h2>
			<div class="features_container">
				<div class="arrow_controls">
					<a href="#" class="prev control"></a>
					<a href="#" class="next control"></a>
				</div>
				<div class="features panel">
					<ul data-state="enabled">
						<li id='1' class='active'>
							<div class="video">
								<iframe id="video1" width="100%" height="100%" src="https://www.youtube.com/embed/spUH0JfKhdo?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Multifunctional Grip and Invert Fillet</h3>
							<p>Polyline objects in GstarCAD 2016 now support multifunctional options. The available functions ( Stretch, Add Vertex and Convert to Arc) can be seen by hovering over a grip Invert Fillet has a very wide range of usage particularly in construction and furniture industry. The Fillet command now offers a new option called Invert. You can easy create a reverse fillet without performing circle, arc trim command.</p>
						</li>
						<li id='2'>
							<div class="video">
								<iframe id="video2" width="100%" height="100%" src="https://www.youtube.com/embed/xjOoV_Fgkj0" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>New Dynamic Input</h3>
							<p>The new dynamic input displays all options of a command and could select them in different methods. Users no longer need the command line either floated or docked, gaining more workspace to get wider viewing of the drawing</p>
						</li>
						<li id='3'>
							<div class="video">
								<iframe id="video3" width="100%" height="100%" src="https://www.youtube.com/embed/lWgsXSn4Gzc" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Implementation</h3>
							<p>This new version implements highly requested features regarding compatibility and 3D functionality. GstarCAD 2016 has implemented the full DGN files support and related commands. Regarding to 3D functionality implementation, SOLIDEDIT comes with related 3D solid editing command options like Imprint Edges, Color and Copy Edges. And also within Body editing you could find: Clean, Separate Solids, Shell and Check Options, that allow users an advance 3d solid edition.</p>
						</li>
						<li id='4'>
							<div class="video">
								<iframe id="video4" width="100%" height="100%" src="https://www.youtube.com/embed/49rQWUkqLfA" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>New Additions</h3>
							<p>GstarCAD 2016 offers two new additions regarding to object snap and plot and publish control. Now within drafting settings dialog box, under object snap tab, you can find a new added option called Distance from Endpoint. This option allows a certain distance from any end point of objects like line, arc, spline, pline and many other lines. The divide segments option allows snap the divided segment points of objects like line, arc, spline and many other lines The new Options TAB “Plot and Publish” is a shortcut access that helps users to control options related to plotting and publishing.</p>
						</li>
						<li id='5'>
							<div class="video">
								<iframe id="video5" width="100%" height="100%" src="https://www.youtube.com/embed/pEPURu_HxGM" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Performance Optimization</h3>
							<p>The performance is a key point on every GstarCAD version, therefore Gstarsoft is making great effort on performance optimization continuously. GstarCAD 2016 unleashes power speed performance, when opening drawings, copy or moving objects, or even undo actions over 20% faster than before, wich means users entire drawing efficiency can be improved more than 10% if compare with previous versions.</p>
						</li>
					</ul>
					<!--<img src="http://assets.cad2b.co.uk/landing/images/gstarcad-2016-user-interface.gif">-->

					<a href="http://cad2b.co.uk/uk/professional-cad#features" class="btn green more">See more functions</a>
					<a href="http://cad2b.co.uk/uk/professional-cad#overview" class="promo">Watch the promo video</a>
				</div>
			</div>
			<p class="info">CAD2B is a provider of CAD design software and DWG based applications.</p>
			<a href="http://www.cad2b.co.uk"><%= image_tag "logo-gray.png", class: "logo", alt: "Logo CAD2B" %></a>
		</div>
	</div>

