	<!-- Social Media SDKs -->
	<%= render :partial => '/shared/socialmediasdks' %> 
	<!-- Social Media SDKs ends -->

	<div class="loader">
	<%= image_tag("logo.png") %>
	<span>Loading ...</span>
	</div>

	<div id="leftSection" class="mech_landing">
		<div class="positioned">
			<!--
			<div class="phone">
				<img src="http://assets.cad2b.co.uk/landing/images/phone.png">
				<span>0808 189 1390</span>
			</div>-->

			<%= link_to image_tag("cadprofi/cadprofi-mechanical-logo.jpg", class: "logo-gstar", alt: "GstarCAD 2016 - New features"), professional_cad_path %>

			<h1>CADprofi Mechanical</h1>
			<p class='tagline'>Design fast and efficiently. Parametric CAD-application facilitating the 2D design of mechanical and engineering projects. Thanks to many features available in the CADprofi program you will perform your job much faster.</p>

			<h2>Sign up to download free trial</h2>

			<%= flash[:error] %>

			<%= form_tag(subscribtion_list_subscribe_path, id: "subscribe", remote: "true") do %>
				<div class="field"><%= email_field(:email, :address, {id: "mailEmail", placeholder: "Email Address"}) %></div>
			   	<div class="field"><%= text_field(:email, :firstname, {id: "mailName", placeholder: "First Name"}) %></div>
			   	<div class="field"><%= text_field(:email, :lastname, {id: "mailSurname", placeholder: "Last Name"}) %></div>
			   <%= hidden_field_tag :iscadprofipage %>
			   <%= submit_tag("Sign me up!", {class: "btn green send"})  %>
			<% end %>

			<div class="share_buttons centralized">
	          <a class="twitter-share-button"
	            href="https://twitter.com/intent/tweet?text=Try for free CADprofi Mechanical now!&url=http://cad2b.co.uk/get-cadprofi-mechanical&via=cad2b">
	          Tweet</a>
	          <a href="https://www.facebook.com/dialog/feed?app_id=147982825558188&link=http://cad2b.co.uk/&name=Try for free CADprofi Mechanical now!&description=Parametric CAD-application facilitating the 2D design of mechanical and engineering projects.&caption=By CAD2B&redirect_uri=http://cad2b.co.uk/get-cadprofi-mechanical" target="_blank" class="fb-share"><%= image_tag('fb-icon.png') %> Share</a>
			</div>

		</div>
		<span class="bg_image"></span>
	</div>
	<div id="rightSection">
		<div class="positioned">

			<div id="versions" class="panel">
				<a href="http://cad2b.co.uk/uk/technical-applications/cadprofi-mechanical#prices"><span class="starts_from">For a small price you can easily draw and edit projects using advanced commands and the largest library of symbols and objects. Starting from &pound;70</span></a>
				<p class="product_description">The Mechanical module is equipped with an extensive set of standardized parts, steel fittings and other steel products, based on local and international standards. An exceptional diagram and blueprint editor vastly facilitates the creation of drawings of plumbing and pneumatic installations.</p>
		      	<div class="package one">
			        <h4>CP-Symbols Mechanical</h4>
			        <ul>
			          <li>Library of standardized parts and couplers</li>
			          <li>Library of steel shapes and profiles</li>
			          <li>Library of mechanical marks</li>
			          <li>Library of pneumatics and hydraulics symbols</li>
			          <li>Flowcharts and diagrams</li>
			          <li>Multilingual user interface</li>
			          <li>Creating bill of materials and describing symbols</li>
			          <li>Free updates for one year - subscription</li>
			        </ul>
		      	</div>
		      	<div class="package two">
		        	<h4>CADprofi Mechanical</h4>
			        <ul>
			          <li>Data management and enchanced specification creator</li>
			          <li>Extended library of standardized parts and couplers</li>
			          <li>Extended library of steel shapes and profiles</li>
			          <li>Designing with use of Parametrical Technology</li>
			          <li>Automatic design thanks to „One-click” technology</li>
			          <li>Creating mechanical and construction projects</li>
			          <li>Designing apparatus and heat exchangers</li>
			          <li>Designing advanced pneumatic and hydraulic systems</li>
			          <li>You can add additional libraries and databases on your own</li>
			          <li>Tools for full description and projects detailing</li>
			          <li>Additional edition commands</li>
			          <li>Access to the manufacturers libraries</li>
			          <li>Additional modules for better coordination between branches</li>
			        </ul>
		      	</div>
			</div>

			<h2>Featured videos</h2>
			<div class="features_container">
				<div class="arrow_controls">
					<a href="#" class="prev control"></a>
					<a href="#" class="next control"></a>
				</div>
				<div class="features panel">
					<ul data-state="enabled">
						<li id='1' class='active'>
							<div class="video">
								<iframe id="video1" width="100%" height="100%" src="https://www.youtube.com/embed/pnisvsUe74M?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Standardized Parts</h3>
							<p>Standardized parts: bolts, screws, washers, nuts, joints, rivets, studs, openings, rebates, wedges, pivots, pins, bearings, grease nipples, and many more.</p>
						</li>
						<li id='2'>
							<div class="video">
								<iframe id="video2" width="100%" height="100%" src="https://www.youtube.com/embed/PbZ3aFwdFF8" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Welds and descriptions</h3>
							<p>Welds and descriptions</p>
						</li>
						<li id='3'>
							<div class="video">
								<iframe id="video3" width="100%" height="100%" src="https://www.youtube.com/embed/484_ZD2o5sc" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Steel Shapes</h3>
							<p>Steel profiles: L­bars, tapered­channel bars, flat bars, box sections, rods, pipes, and more.</p>
						</li>
						<li id='4'>
							<div class="video">
								<iframe id="video4" width="100%" height="100%" src="https://www.youtube.com/embed/UFSknFIm9CA" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Casing and end caps</h3>
							<p>Casings and end caps, pipes, U­bends, tees, reducers, etc.</p>
						</li>
						<li id='5'>
							<div class="video">
								<iframe id="video5" width="100%" height="100%" src="https://www.youtube.com/embed/yV45Y3RNUx4" frameborder="0" allowfullscreen></iframe>
							</div>
							<h3>Diagrams and pneumatics</h3>
							<p>Editor for diagrams of pneumatic and plumbing systems.</p>
						</li>
					</ul>
					<!--<img src="http://assets.cad2b.co.uk/landing/images/gstarcad-2016-user-interface.gif">-->
					<a href="http://cad2b.co.uk/uk/technical-applications/cadprofi-mechanical#overview" class="btn green more">See more functions</a>
				</div>
			</div>
			<p class="info">CAD2B is a provider of CAD design software and DWG based applications.</p>
			<a href="http://www.cad2b.co.uk"><%= image_tag "logo-gray.png", class: "logo", alt: "Logo CAD2B" %></a>
		</div>
	</div>

