<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		body {font-family: Arial;}
		#main {width: 600px;}
		.header {width: 100%; vertical-align: middle;}
		.body {background-color: white; width: 100%;}
		.body h1 {text-align: center; font-size: 25px; font-weight: lighter; padding: 0px; margin: 0px; color: #555;}
		.body p {line-height: 1.5em; color: #888;}
		.discount {background-color: #38a0ba; width: 100%;}
		.discount h2 {color: white; font-size: 20px; font-weight: lighter; text-align: center; letter-spacing: 1px;}
		.noty {width: 100%;}

		/* Portrait and Landscape */
		@media only screen and (min-device-width: 0px) and (max-device-width: 599px) {
			#main {width: 100%;}
		}
	</style>
</head>
<body bgcolor="#ecf0f1" style="font-family: Arial;background-color: #ecf0f1;">
	<table align="center">
		<tr>
			<td>
				<center>
					<!-- #Main -->
					<table id="main" style="width: 500px;">
						<tr>
							<td>
								
								<!-- #Header -->
								<table class="header" cellspacing="20" style="width: 100%;vertical-align: middle;">
									<tr>
										<td>
											<img src="http://assets.cad2b.co.uk/email_assets/logo.jpg" width="120px;">
										</td>
										<td align="right" style="color: #aaa"><%= @time %></td>
									</tr>
								</table>
								<!-- /#Header -->

								<!-- #Body -->
								<table class="body" cellspacing="20px;" style="background-color: white;width: 100%;">
									<tr><td height="10px;"></td></tr>
									<tr>
										<td>
											<h1 style="text-align: center;font-size: 25px;font-weight: lighter;padding: 0px;margin: 0px;color: #555;">Welcome to CAD2B</h1>
										</td>
									</tr>
									<tr>
										<td>
											<p style="text-align: center;line-height: 1.5em;color: #888;">Dear <%= @user.name %>, thank you for your registration.</p>
										</td>
									</tr>
									<tr>
										<td>
											<p style="text-align: center;line-height: 1.5em;color: #888;">You can now use your <strong>10% discount</strong> on GstarCAD. You can also use <strong>10% discount</strong> on CADprofi if you buy GstarCAD as well.</p>
										</td>
									</tr>
									<tr>
										<td>
											<p style="text-align: center;line-height: 1.5em;color: #888;">Before purchasing GstarCAD and CADprofi you might also want to try the software, please login to our <a href="http://www.cad2b.co.uk/uk/users/sign_in">download area</a> to do so.</p>
										</td>
									</tr>
									<tr>
										<td>
											<p style="text-align: center;line-height: 1.5em;color: #888;">Please find your unique promo code below:</p>
										</td>
									</tr>
								</table>
								<!-- /#Body -->

								<!-- #Discount -->
								<table class="discount" cellspacing="20px;" style="background-color: #38a0ba;width: 100%;">
									<tr><td height="10px;"></td></tr>
									<tr>
										<td>
											<h2 style="color: white;font-size: 20px;font-weight: lighter;text-align: center;letter-spacing: 1px;">GSTARCAD2016-10
											</h2><p style="text-align: center; font-size: 13px; font-weight: lighter; color: #8bcada"><em>Just paste it in the VOUCHERS field when you proceed to checkout.</em></p>
										</td>
									</tr>
									<tr><td height="0px;"></td></tr>
								</table>
								<!-- /#Discount -->

								<!-- #Body -->
								<table class="body" cellspacing="20px;" style="background-color: white;width: 100%;">
									<tr><td height="0px;"></td></tr>
									<tr>
										<td align="center">
											<a href="http://www.cad2b.co.uk/uk/professional-cad#prices"><img src="http://assets.cad2b.co.uk/email_assets/button.jpg" width="240px;"></a>
										</td>
									</tr>
									<tr><td height="0px;"></td></tr>
								</table>
								<!-- /#Body -->

								<!-- #Body -->
								<table class="noty" cellspacing="20px;" style="width: 100%;">
									<tr><td height="0px;"></td></tr>
									<tr>
										<td align="center" style="text-align: center; font-size: 13px; color: #888;">The discount is vaild until 31 January 2016</td>
									</tr>
									<tr><td height="0px;"></td></tr>
								</table>
								<!-- /#Body -->

							</td>
						</tr>
					</table>
					<!-- /#Main -->
				</center>	
			</td>
		</tr>
	</table>
</body>
</html>