<div class="sign login">
<h1><%= t "devise.signin" %></h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
  <div class="field">
    <%= f.email_field :email, placeholder: 'Email address', autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember">
      <%= f.check_box :remember_me %>
      <%= f.label "#{t 'devise.remember'}" %>
    </div>
  <% end -%>

  <div class="actions login">
    <%= f.submit "Log in", class: 'btn green' %>
  </div>
  <div class="clear"></div>
<% end %>
<p class="sure"><%= t "devise.trypurchasecad" %> <%= link_to "#{t 'devise.signup'}", new_registration_path(resource_name) %></p>
</div>

<%= link_to "#{t 'devise.forgotpassword'}", new_password_path(resource_name), class: 'forgotten' %>
