<div id="adminPosts">
	<div class="centralized">
		<h2>Showing all forums</h2>
		<%= link_to "Post a forum", new_forum_path, class: "btn green medium" %>	
		<div class="clear"></div>
		<table>
			<tr>
				<th width="20%">Title</th>
				<th width="50%">Description</th>
			</tr>
			<% @forums.each do |forum| %>
			<tr>
				<td><h3><%= forum.title %></h3></td>
				<td class="excerpt"><p><%= forum.description %></p></td>
				<td class="actions">
					<%= link_to("Edit", edit_forum_path(:id => forum.id)) %> |
					<%= link_to 'Delete', forum_path(:id => forum.id), method: :delete, data: {confirm: "Are you sure you want to delete \"#{forum.title}\"?"} %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>