<%= render partial: "shared/ggleanalyticsapi" %>
<div id="dashboardWall">
	<div class="grid">
		<section class="chart box">
			<div id="embed-api-auth-container"></div>
<div id="chart-container"></div>
<div id="view-selector-container"></div>
		</section>
		<section class="latest_posts box">
			<h3>3 Latest posts</h3>
			<div class="right">
				<%= link_to "All posts", administrator_posts_path, class: "btn blue medium" %>
			</div>
			<div class="clear"></div>
			<ul>
				<% @posts.first(3).each do |post| %>
					<li>
						<h4><%= link_to post.title, controller: "posts", action: "show", id: post.slug %></h4>
						<p><%= raw strip_tags(post.content).truncate(240) %></p>
					</li>
				<% end %>
			</ul>
		</section>
		<section class="latest_subscribers box">
			<h3>10 Latest subscribers</h3>
			<div class="right">
				<%= link_to "See all", administrator_users_path, class: "btn medium blue" %>
			</div>
			<div class="clear"></div>
			<table>
				<% @users.first(10).each do |user| %>
					<tr>
						<td width="70%">
							<%= user.name %> <%= user.surname %>
							<% if user.country.blank? == false %>
							 from <%= user.country %>
							<% end %>
						</td>					
						<td width="30%" class="reg_date"><%= user.created_at.strftime("On %d %h %Y") %></td>
					</tr>
				<% end %>
			</table>
		</section>
		<section class="latest_topics box">
			<h3>5 Latest topics</h3>
			<div class="right">
				<%= link_to "See all topics", forums_path, class: "btn medium blue" %>
			</div>
			<div class="clear"></div>
			<table>
				<% @topics.first(5).each do |topic| %>
					<tr>
						<td width="70%">
							<h4><%= link_to topic.title, forum_topic_path(id: topic.id, forum_id: topic.forum_id) %></h4>
							<p><%= raw strip_tags(topic.content).truncate(60) %></p>
						</td>					
						<td width="30%" class="reg_date"><%= topic.created_at.strftime("On %d %h %Y") %></td>
					</tr>
				<% end %>
			</table>
		</section>
	</div>
</div>