<div id="adminPosts">
	<div class="centralized">
		<h2>Showing all posts</h2>
		<%= link_to "Write a post", administrator_posts_new_path, class: "btn green medium" %>	
		<div class="clear"></div>
		<table>
			<tr>
				<th width="20%">Title</th>
				<th width="50%">Content</th>
				<th width="15%">Author</th>
				<th width="15%">Actions</th>
			</tr>
			<% @posts.each do |post| %>
			<tr>
				<td><h3><%= post.title %></h3></td>
				<td class="excerpt"><p><%= strip_tags(post.content.truncate(400)) %></p></td>
				<td><%= post.user.name %> <%= post.user.surname %></td>
				<td class="actions">
					<%= link_to("Show", controller: "posts", action: "show", id: post.slug) %> | <%= link_to("Edit", administrator_posts_edit_path(:id => post.id)) %> |
					<%= link_to 'Delete', administrator_posts_destroy_path(:id => post.id), method: :delete, data: {confirm: "Are you sure you want to delete \"#{post.title}\"?"} %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>