<div id="adminPosts">
	<div class="centralized">
		<h2>Showing all users <span class="size"><%= @users.size %></span></h2>
		<%= link_to "Download CSV", administrator_users_path(format: 'csv'), class: "btn green medium" %>
		<%= link_to "Download XLS", administrator_users_path(format: 'xls'), class: "btn green medium" %>
		<div class="clear"></div>
		<table>
			<tr>
				<th>Name</th>
				<th>Email address</th>
				<th>Phone</th>
				<th>Country</th>
				<th>City</th>
			</tr>
			<% @users.each do |user| %>
			<tr>
				<td>
					<h3><%= user.name %> <%= user.surname %></h3>
					<span class="role tooltipable <%= user.role.name %>" data-tooltip-content="<%= user.role.name %>"></span>
				</td>
				<td class="excerpt"><%= user.email %></td>
				<td><%= user.phone %></td>
				<td><%= user.country %></td>
				<td><%= user.city %></td>
				<% if user.role.name != "admin" %>
				<td>
					<%= link_to "Edit", administrator_user_edit_path(id: user.id) %>
					&nbsp;&nbsp;&nbsp;
					<%= link_to "Delete", administrator_user_destroy_path(id: user.id), data: {confirm: "Are you sure you want to delete \"#{user.name} #{user.surname}\"?"}, method: :delete %>
				</td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
</div>