<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
  <%= devise_error_messages! %>
<div class="sign">
  <h1>Edit <%= resource_name.to_s.humanize %></h1>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email address", autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>

  <div class="field">
    <%= f.text_field :surname, placeholder: "Surname" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "New password (leave blank if you don't want to change it)" ,autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm new password", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, placeholder: "Enter current password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn blue" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
</div>
