var currentForumId = '<%= @topic.forum_id %>';
var currentTopicId = '<%= @topic.id %>';
var currentAnswerId = '<%= params[:id] %>';
var isTitle = '<%= params[:title] %>';

if (isTitle){
	//Make content - contenteditable
	$(".main_title").attr("contenteditable", true);
	//Add class contenteditabe
	$(".main_title").addClass("contenteditable");
	//Focus on content
	$(".main_title").focus();
	//Remove the edit button
	$(".title_area").find(".edit").addClass("hide");
	//Show the save button
	$(".title_area").find(".save").addClass("show");
	//Show the close button
	$(".title_area").find(".close").addClass("show");
} else {
	//Make content - contenteditable
	$(".initial").find(".content").attr("contenteditable", true);
	//Add class contenteditabe
	$(".initial").find(".content").addClass("contenteditable");
	//Focus on content
	$(".initial").find(".content").focus();
	//Append the WYSIWYG editor
	$(".initial").append('<div id="wysiwygEditor"><button id="makeBold" onClick="makeBold();"><i class="fa fa-bold"></i></button><button id="makeItalic" onClick="makeItalic();"><i class="fa fa-italic"></i></button><button id="makeHeadline" onClick="makeHeadline();"><i class="fa fa-header"></i></button><button id="makeUnderlined" onClick="makeUnderlined();"><i class="fa fa-underline"></i></button><button id="makeLink" onClick="makeLink();"><i class="fa fa-link"></i></button></div>');
	//Remove the edit button
	$(".initial").find(".edit").addClass("hide");
	//Show the save button
	$(".initial").find(".save").addClass("show");
	//Show the close button
	$(".initial").find(".close").addClass("show");
}

//WYSIWYG
function makeBold(){
	document.execCommand("bold", false, null);
}
function makeItalic(){
	document.execCommand("italic", false, null);
}
function makeUnderlined(){
	document.execCommand("underline", false, null);
}
function makeHeadline(){
	document.execCommand("formatBlock", true, "h4");
}
function makeLink(){
	var linkValue = prompt("Type the url")
	document.execCommand("createLink", false, linkValue);
}