<div clss="centralized">
<%= form_for :topic, url: {action: 'create'} do |f| %>
	<%= f.text_field :title, placeholder: 'Topic name' %>
	<%= f.text_area :content, placeholder: 'Message' %>
	<%= f.text_field :forum_id, placeholder: 'Forum' %>
	<%= submit_tag 'Submit' %>
<% end %>
</div>
