<% if user_signed_in? or admin_signed_in? %>
	$(".forum_container .forum:last-child ul").append("<li class='contenteditable'><h4 contenteditable class='the_title'>Topic title here</h4><div contenteditable class='the_content'>Write your content here ...</div></li>");
	$(".contenteditable h4").focus();
	$(".forum_container > ul").append('<%=j select_tag "Forums", options_from_collection_for_select(@forums, "id", "title") %>');
	$(".forum_container > ul").append("<div class='action'><button class='blue btn post_topic' id='post_topic'>Post topic</button></div>");
	$(".new_topic").fadeOut();
<% else %>
	//Post a Login / Register message if use has not been signed in.
	//Append the message if it wasn't appended already.
	if (!$('.forum_container .outcome').length == 1) {
		$(".forum_container .action").append("<span class='outcome'>Please <%=j link_to 'Login', new_user_session_path %> or <%=j link_to 'Register', new_user_registration_path %> before writing a topic.</span>")
	}
<% end %>