<div id="topicWall" class="centralized">
	<div class="title_area">
	<h1 class="main_title"><%= @topic.title %></h1>
		<div class="edit_cont">
		<% if user_signed_in? %>
			<% if @topic.user_id == current_user.id %>
				<%= link_to(edit_forum_topic_path(forum_id: @topic.id, id: @topic.id, title: "true"), class: 'edit', remote: true) do %>
					<i class="fa fa-pencil"></i>
				<% end %>
				<i class="fa fa-floppy-o save title_save"></i>
				<i class="fa fa-times-circle close"></i>
			<% end %>
		<% end %>
		</div>
	</div>
	<ul id="answers">
		<li class='initial'>
			<div class="author">
				<%= @topic.user.name.truncate(2, omission: '.') %> <%= @topic.user.surname %>
			</div>
			<div class="content"><%= @topic.content.html_safe %></div>
			<% if user_signed_in? %>
				<% if @topic.user_id == current_user.id %>
					<%= link_to(edit_forum_topic_path(forum_id: @topic.id, id: @topic.id), class: 'edit', remote: true) do %>
						<i class="fa fa-pencil"></i>
					<% end %>
					<i class="fa fa-floppy-o save content_save"></i>
					<i class="fa fa-times-circle close"></i>
				<% end %>
			<% end %>
			<div class="clear"></div>
		</li>
		<% @topic.topic_answers.each do |answer| %>
		<li id="<%= answer.id %>" class="answer_list">
			<div class="author"><%= answer.user.name.truncate(2, omission: '.') %> <%= answer.user.surname %></div>
			<div class="content"><%= answer.content.html_safe %></div>
			<!-- If User signed in show the edit button and save buttons -->
			<% if user_signed_in? %>
				<% if answer.user_id == current_user.id %>
					<%= link_to(edit_forum_topic_topic_answer_path(topic_id: @topic.id, id: answer.id), class: 'edit', remote: true) do %>
						<i class="fa fa-pencil"></i>
					<% end %>
					<i class="fa fa-floppy-o save"></i>
					<i class="fa fa-times-circle close"></i>
				<% end %>
			<% end %>
			<span class="written"><%= answer.updated_at().strftime('%d %b. at %k:%M') %></span>	
			<div class="clear"></div>		
		</li>
		<% end %>
	</ul>
	<div class="action">
		<%= link_to "Answer", new_forum_topic_topic_answer_path(topic_id: @topic.id), class: "btn blue answer" ,remote: true %>
		<% if user_signed_in? %>
			<% if @topic.user_id == current_user.id %>
				<%= link_to "Delete this topic", forum_topic_path(topic_id: @topic.id), class: "btn empty red delete", method: "delete", data:{confirm: "Are you sure you would like to delete this topic?"} %>
			<% end %>
		<% end %>
	</div>
</div>