<div class="sign">
<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(@user, url: administrator_user_edit_path) do |f| %>

  <div class="field">
    <%= f.email_field :email, :placeholder => "Email address", disabled: true %>
  </div>

  <div class="field">
    <%= f.text_field :name, :placeholder => 'Name', autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :surname, :placeholder => 'Surname' %>
  </div>

  <div class="field">
    <%= f.text_field :country, :placeholder => 'Country' %>
  </div>

  <div class="field">
    <%= f.text_field :city, :placeholder => 'City / Town' %>
  </div>

  <div class="field">
    <%= f.text_field :postcode, :placeholder => 'Post Code / ZIP' %>
  </div>

  <div class="field">
    <%= f.text_field :phone, :placeholder => 'Phone number' %>
  </div>

  <div class="field">
    <label>Role</label>
    <%= f.select(:role_id, class: "") do %>
      <% @roles.each do |role| %>
        <% if @user.role_id == role.id %> 
          <%= content_tag(:option, role.name, value: role.id, selected: true) %>
        <% else %>
          <%= content_tag(:option, role.name, value: role.id) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn blue left' %>
    <%= link_to "Back", :back, class: 'right_link' %>
    <div class="clear"></div>
  </div>
<% end %>
</div>
