thisAnswer = $('li#'+<%= @answer.id %>);
var currentForumId = '<%= params[:forum_id] %>';
var currentTopicId = '<%= params[:topic_id] %>';
var currentAnswerId = '<%= params[:id] %>';

//Make content - contenteditable
$(thisAnswer).find(".content").attr("contenteditable", true);
//Add class contenteditabe
$(thisAnswer).find(".content").addClass("contenteditable");
//Focus on content
$(thisAnswer).find(".content").focus();
//Append the WYSIWYG editor
$(thisAnswer).append('<div id="wysiwygEditor"><button id="makeBold" onClick="makeBold();"><i class="fa fa-bold"></i></button><button id="makeItalic" onClick="makeItalic();"><i class="fa fa-italic"></i></button><button id="makeHeadline" onClick="makeHeadline();"><i class="fa fa-header"></i></button><button id="makeUnderlined" onClick="makeUnderlined();"><i class="fa fa-underline"></i></button><button id="makeLink" onClick="makeLink();"><i class="fa fa-link"></i></button></div>');
//Remove the edit button
$(thisAnswer).find(".edit").addClass("hide");
//Show the save button
$(thisAnswer).find(".save").addClass("show");
//Show the close button
$(thisAnswer).find(".close").addClass("show");

//WYSIWYG
function makeBold(){
	document.execCommand("bold", false, null);
}
function makeItalic(){
	document.execCommand("italic", false, null);
}
function makeUnderlined(){
	document.execCommand("underline", false, null);
}
function makeHeadline(){
	document.execCommand("formatBlock", true, "h4");
}
function makeLink(){
	var linkValue = prompt("Type the url")
	document.execCommand("createLink", false, linkValue);
}