<% if user_signed_in? or admin_signed_in? %>
	var currentForumId = '<%= params[:forum_id] %>';
	var currentTopicId = '<%= params[:topic_id] %>';

	$("#topicWall ul").append("<li><div class='author'><%=j current_user.name.truncate(2, omission: '.') %> <%= current_user.surname %></div><div class='content contenteditable' contenteditable><p>Write answer here</p></div><div class='clear'></div><div id='wysiwygEditor'><button id='makeBold' onClick='makeBold();'><i class='fa fa-bold'></i></button><button id='makeItalic' onClick='makeItalic();'><i class='fa fa-italic'></i></button><button id='makeHeadline' onClick='makeHeadline();'><i class='fa fa-header'></i></button><button id='makeUnderlined' onClick='makeUnderlined();'><i class='fa fa-underline'></i></button><button id='makeLink' onClick='makeLink();'><i class='fa fa-link'></i></button></div></li>");
	$("#topicWall .action").append('<button class="btn blue post" style="display:none;">Post answer</button>');
	setTimeout(function(){
		$("#topicWall .answer").fadeOut();
		$("#topicWall .delete").fadeOut();
		$("#topicWall .post").fadeIn();	
	}, 300);
	$(".contenteditable").focus();

	var contenteditable = document.getElementsByClassName("contenteditable")

	//WYSIWYG
	function makeBold(){
		document.execCommand("bold", false, null);
	}
	function makeItalic(){
		document.execCommand("italic", false, null);
	}
	function makeUnderlined(){
		document.execCommand("underline", false, null);
	}
	function makeHeadline(){
		document.execCommand("formatBlock", true, "h4");
	}
	function makeLink(){
		var linkValue = prompt("Type the url")
		document.execCommand("createLink", false, linkValue);
	}
<% else %>
	//Post a Login / Register message if use has not been signed in.
	//Append the message if it wasn't appended already.
	if (!$('#topicWall .outcome').length == 1) {
		$("#topicWall .action").append("<span class='outcome'>Please <%=j link_to 'Login', new_user_session_path %> or <%=j link_to 'Register', new_user_registration_path %> before answering.</span>")
	}
<% end %>







