<div class="pop_up_wrapper">
  <div class="pop_up_panel">
    <div class="video"><iframe src=""></iframe></div>
    <div class="description">
      <h3></h3>
      <p></p>
      <a class="btn empty white" href="<%= @featured_videos_url %>" target="_blank">Watch all videos</a>
      <span></span>
      <a class="btn empty white close">Close</a>
    </div>
  </div>
</div>