  <section id="newsAndTwitter" class="news_twitter">
    <div class="centralized">
      <section class="news">
        <h2><%= t "newsandtwitter.news" %></h2>
        <% @posts.first(2).each do |post| %>
        <article>
          <date><%= post.created_at().strftime("%d %b.") %></date>
          <div class="content">
            <header>
              <h3><%= link_to(post.title.truncate(100), {controller: "posts", action: "show", id: post.slug} )%></h3>
            </header>
            <p><%= raw strip_tags(post.content).truncate(120) %></p>
          </div>
        </article>
        <% end %>
        <%= link_to "#{t 'newsandtwitter.morenews'}", posts_path, class: "btn empty black" %>
      </section>
      <section class="twitter">
        <h2>Twitter</h2>
        <div id="twitterFeed"></div>
        <a href="https://twitter.com/intent/follow?screen_name=@CAD_2B" class="btn empty black"><%= t 'newsandtwitter.follow' %> @cad2b</a>
      </section>
    </div>
  </section>