<% @page_title = "CADprofi Architectural - CAD2B" %>
<% @page_description = "CADprofi Architectural is a parametric CAD-application facilitating architectural project design" %>
<% @quote_subject = "Question about CADprofi Architectural" %>
<% @featured_videos_url = "https://www.youtube.com/playlist?list=PLPnjoP0SfnosTpJdv-49k8QIMmNkSgr2q" %>
<div class="techapps architectural">
  <section id="submenu">
  	<div class="centralized">
	  	<h1>CADprofi <span>|</span> Architectural</h1>
	  	<div class="actions">
	  		<%= link_to "#{t 'technicalApps.submenu.try'}", users_downloads_path, class: "btn green small" %>
	  		<a href="http://store.cad2b.co.uk/architectural-projects-design/9-cadprofi-architectural.html" class="btn green small" target="_blank"><%= t "technicalApps.submenu.buy" %></a>
	  	</div>
	  	<nav>
	  		<ul>
	  			<li><a href="#overview"><%= t "technicalApps.submenu.features" %></a></li>
          <li><a href="#productComparison"><%= t "technicalApps.submenu.productcomparison" %></a></li>
	  		</ul>
	  	</nav>
  	</div>
  </section>	
  <section id="introHero">
	  <div class="centralized">
	  	<div class="wrap">
	  		<h2><%= image_tag("cadprofi/cadprofi-architectural-logo.jpg") %> <span>Architectural</span></h2>
	  		<p><%= t "technicalApps.architectural.introHero.description" %></p>
	  		<div class="actions">
	  			<%= link_to "#{t 'technicalApps.architectural.introHero.download'}", new_user_registration_path, class: "btn green" %>
	  			<a href="https://www.youtube.com/watch?v=Fru3X5HfIYI&index=2&list=PLPnjoP0SfnosTpJdv-49k8QIMmNkSgr2q" class="to_videos" target="_blank"><%= t "technicalApps.architectural.introHero.watchvideos" %></a>
	  		</div>
	  	</div>
	  </div>
    <%= image_tag("cadprofi/mechanical_preview.png", :class => 'preview') %>
  </section>
  <div id="overview" class="centralized">
  	<h2 class="intro_title"><%= t "technicalApps.architectural.overview" %></h2>
    <p class="tagline"><%= t "technicalApps.architectural.tagline" %></p>
  </div>
  <section id="features">
    <div class="centralized">
      <ul>
      	<li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Architectural - Walls" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-walls.jpg") %></a></div>
          <div class="description">
      		  <p><strong><%= t "technicalApps.architectural.features.walls.title" %></strong><%= t "technicalApps.architectural.features.walls.description" %></p>
          </div>
      	</li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Architectural - Woodwork" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-woodwork.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.woodwork.title" %></strong><%= t "technicalApps.architectural.features.woodwork.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Architectural - Furniture" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-furniture.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.furniture.title" %></strong><%= t "technicalApps.architectural.features.furniture.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Architectural - Symbols" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-symbols.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.archsymbols.title" %></strong><%= t "technicalApps.architectural.features.archsymbols.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Architectural - Dimensioning" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-dimensioning.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.archdimensioning.title" %></strong><%= t "technicalApps.architectural.features.archdimensioning.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Architectural - Safety" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-safety.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.safety.title" %></strong><%= t "technicalApps.architectural.features.safety.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Architectural - Bill materials" ><a href=""><%= image_tag("cadprofi/cadprofi-bill-of-materials.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.billmaterials.title" %></strong><%= t "technicalApps.architectural.features.billmaterials.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Architectural - Numbering" ><a href=""><%= image_tag("cadprofi/cadprofi-architectural-numbering.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.numbering.title" %></strong><%= t "technicalApps.architectural.features.numbering.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Producers on line" ><a href=""><%= image_tag("cadprofi/cadprofi-producers-on-lines.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.architectural.features.producersonlines.title" %></strong><%= t "technicalApps.architectural.features.producersonlines.description" %></p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section id="productComparison">
    <div class="centralized">
      <h2><%= t "technicalApps.architectural.productcomparison.title" %></h2>
      <div class="table-info">
        <div class="header">
          <div class="title"></div>
          <div class='product' width="20%">CP-Symbols
Architectural</div>
          <div class='product' width="20%">CADprofi
Architectural</div>
        </div>
        <div class="expand_collapse">
          <table class="data">
            <tr>
              <td width="60%"><%= t "technicalApps.architectural.productcomparison.libwoodworkelements" %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.libofinteriorandfurnishing" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.libarchsymbols" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.libevacsafetyfire" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.flowcharts" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.multilingualui" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.billofmaterials" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.freeupdates" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.datamanagement" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.parametrikaltech" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.automaticdesign" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.multilayerwalls" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.roomdefinition" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.autolevelmeasure" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.drawingstairs" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.archdimensioning" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.designingevacsafety" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.additionallib" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.toolsfulldescription" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.addiotionaleditioncmds" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.manufacturerslibs" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.architectural.productcomparison.additionmodules" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section id="prices">
    <div class="centralized">
      <div class="package">
        <h3>CP-Symbols Architectural</h3>
        <div class="price"><%= t "technicalApps.prices.cp-symbols" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/architectural-projects-design/12-cp-symbols-architectural.html" class="btn blue" target="_blank"><%= t "global.continue" %></a>
      </div>
      <div class="package">
        <h3>CADprofi Architectural</h3>
        <div class="price"><%= t "technicalApps.prices.cadprofi" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/architectural-projects-design/9-cadprofi-architectural.html" class="btn black" target="_blank"><%= t "global.continue" %></a>
      </div>
    </div>
  </section>
  <!-- Get a quote -->
  <div id="quote">
    <h4><%= t "technicalApps.architectural.popup.title" %><span class="expand"><span class="one"></span><span class="two"></span></span></h4>
    <div class="hidden_area">
    <%= render :template => "support_messages/new", :locals => {:support_message => @message}%>
    </div>
  </div>
  <!-- News & Twitter -->
  <%= render :partial => 'tryitnow' %> 
  <!-- News & Twitter ends -->
</div>
<!-- Video Popup -->
<%= render :partial => 'popupwrapper' %> 
<!-- Video Popup ends -->