<% @page_title = "CADprofi Electrical - CAD2B" %>
<% @page_description = "Parametric CAD-application facilitating the design of complex electrical, light and telecommunications installations and more." %>
<% @quote_subject = "Question about CADprofi Electrical" %>
<% @featured_videos_url = "https://www.youtube.com/playlist?list=PLPnjoP0SfnotfVoZW-EGxZNTm6737yMa2" %>
<div class="techapps electrical">
  <section id="submenu">
  	<div class="centralized">
	  	<h1>CADprofi <span>|</span> Electrical</h1>
	  	<div class="actions">
	  		<%= link_to "#{t 'technicalApps.submenu.try'}", users_downloads_path, class: "btn green small" %>
	  		<a href="http://store.cad2b.co.uk/electrical-installation-design/11-cad-electrical.html" class="btn green small" target="_blank"><%= t "technicalApps.submenu.buy" %></a>
	  	</div>
	  	<nav>
	  		<ul>
	  			<li><a href="#overview"><%= t "technicalApps.submenu.features" %></a></li>
          <li><a href="#productComparison"><%= t "technicalApps.submenu.productcomparison" %></a></li>
	  		</ul>
	  	</nav>
  	</div>
  </section>	
  <section id="introHero">
	  <div class="centralized">
	  	<div class="wrap">
	  		<h2><%= image_tag("cadprofi/cadprofi-electrical-logo.jpg") %> <span>Electrical</span></h2>
	  		<p><%= t "technicalApps.electrical.introHero.description" %></p>
	  		<div class="actions">
	  			<%= link_to "#{t 'technicalApps.electrical.introHero.download'}", new_user_registration_path, class: "btn green" %>
	  			<a href="https://www.youtube.com/watch?v=nGiwgnfKdFw&index=1&list=PLPnjoP0SfnotfVoZW-EGxZNTm6737yMa2" class="to_videos" target="_blank"><%= t "technicalApps.electrical.introHero.watchvideos" %></a>
	  		</div>
	  	</div>
	  </div>
    <%= image_tag("cadprofi/electrical_preview.png", :class => 'preview') %>
  </section>
  <div id="overview" class="centralized">
  	<h2 class="intro_title"><%= t "technicalApps.electrical.overview" %></h2>
    <p class="tagline">
      <%= t "technicalApps.electrical.tagline" %>
    </p>
  </div>
  <section id="features">
    <div class="centralized">
      <ul>
      	<li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Electrical - Menu" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-menu.jpg") %></a></div>
          <div class="description">
      		  <p><strong><%= t "technicalApps.electrical.features.menu.title" %></strong><%= t "technicalApps.electrical.features.menu.description" %></p>
          </div>
      	</li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Electrical - Frames" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-frames.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.frames.title" %></strong><%= t "technicalApps.electrical.features.frames.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Electrical - Symbols" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-symbols.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.symbols.title" %></strong><%= t "technicalApps.electrical.features.symbols.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Electrical - Schemes" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-schemes.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.schemes.title" %></strong><%= t "technicalApps.electrical.features.schemes.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Electrical - Specifications" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-spesifications.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.specs.title" %></strong><%= t "technicalApps.electrical.features.specs.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-category="electrical" data-name="CADprofi Electrical - Legends" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-legends.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.legends.title" %></strong><%= t "technicalApps.electrical.features.legends.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Electrical - SwitchgearScheme" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-switchgearscheme.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.switchgearscheme.title" %></strong><%= t "technicalApps.electrical.features.switchgearscheme.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Electrical - SchemeSwitchgear" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-switchgearscheme.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.schemeswitchgear.title" %></strong><%= t "technicalApps.electrical.features.schemeswitchgear.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Electrical - Lighting" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-lighting.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.lighting.title" %></strong><%= t "technicalApps.electrical.features.lighting.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Electrical - Numbering" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-numbering.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.numbering.title" %></strong><%= t "technicalApps.electrical.features.numbering.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Electrical - Cable trays" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-cable-trays.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.cabletrays.title" %></strong><%= t "technicalApps.electrical.features.cabletrays.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-id="2" data-name="CADprofi Electrical - Busbars" ><a href=""><%= image_tag("cadprofi/cadprofi-electrical-busbars.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.electrical.features.busbars.title" %></strong><%= t "technicalApps.electrical.features.busbars.description" %></p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section id="productComparison">
    <div class="centralized">
      <h2><%= t "technicalApps.electrical.productcomparison.title" %></h2>
      <div class="table-info">
        <div class="header">
          <div class="title"></div>
          <div class='product' width="20%">CP-Symbols
Electrical</div>
          <div class='product' width="20%">CADprofi
Electrical</div>
        </div>
        <div class="expand_collapse">
          <table class="data">
            <tr>
              <td width="60%"><%= t "technicalApps.electrical.productcomparison.libsymbols" %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.libsymbolsplans" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.libsymbolsschemes" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.libfixtures" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.flowcharts" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.multilingualui" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.billmaterials" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.freeupdates" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.datamanagement" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.advancedschematics" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.drawingediting" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.templatesel" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.extendediec" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.numbering" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.modularaparatus" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.switchgears" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.designparametrical" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.autodesign" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.drawingducts" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.autoconnection" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.busbarsdrwsystem" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.designinglight" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.additionallib" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.toolsdetailing" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.addiotionaleditioncmds" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.manufacturerslibs" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.electrical.productcomparison.additionmodules" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section id="prices">
    <div class="centralized">
      <div class="package">
        <h3>CP-Symbols Electrical</h3>
        <div class="price"><%= t "technicalApps.prices.cp-symbols" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/electrical-installation-design/14-cp-symbols-electrical.html" class="btn blue" target="_blank"><%= t "global.continue" %></a>
      </div>
      <div class="package">
        <h3>CADprofi Electrical</h3>
        <div class="price"><%= t "technicalApps.prices.cadprofi" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/electrical-installation-design/11-cad-electrical.html" class="btn black" target="_blank"><%= t "global.continue" %></a>
      </div>
    </div>
  </section>
  <!-- Get a quote -->
  <div id="quote">
    <h4><%= t "technicalApps.electrical.popup.title" %><span class="expand"><span class="one"></span><span class="two"></span></span></h4>
    <div class="hidden_area">
    <%= render :template => "support_messages/new", :locals => {:support_message => @message}%>
    </div>
  </div>
  <!-- News & Twitter -->
  <%= render :partial => 'tryitnow' %> 
  <!-- News & Twitter ends -->
</div>
<!-- Video Popup -->
<%= render :partial => 'popupwrapper' %> 
<!-- Video Popup ends -->