<% @page_title = "CADprofi HVAC & Piping - CAD2B" %>
<% @page_description = "CADprofi HVAC & Piping is a parametric CAD-application for design technical building equipment" %>
<% @quote_subject = "Question about CADprofi HVAC & Piping" %>
<% @featured_videos_url = "https://www.youtube.com/playlist?list=PLPnjoP0SfnovEfuJvb5Jf-CDhwDvw_dsi" %>
<div class="techapps hvac">
  <section id="submenu">
  	<div class="centralized">
	  	<h1>CADprofi <span>|</span> HVAC &amp; Piping</h1>
	  	<div class="actions">
        <%= link_to "#{t 'technicalApps.submenu.try'}", users_downloads_path, class: "btn green small" %>
	  		<a href="http://store.cad2b.co.uk/technical-building-equipment-desing/5-cadprofi-hvacpiping.html" class="btn green small" target="_blank"><%= t "technicalApps.submenu.buy" %></a>
	  	</div>
	  	<nav>
	  		<ul>
	  			<li><a href="#overview"><%= t "technicalApps.submenu.features" %></a></li>
	  			<li><a href="#productComparison"><%= t "technicalApps.submenu.productcomparison" %></a></li>
	  		</ul>
	  	</nav>
  	</div>
  </section>	
  <section id="introHero">
	  <div class="centralized">
	  	<div class="wrap">
	  		<h2><%= image_tag("cadprofi/cadprofi-hvac-piping-logo.jpg") %> <span>HVAC &amp; Piping</span></h2>
	  		<p><%= t "technicalApps.hvacandpiping.introHero.description" %></p>
	  		<div class="actions">
	  			<%= link_to "#{t 'technicalApps.hvacandpiping.introHero.download'}", new_user_registration_path, class: "btn green" %>
	  			<a href="https://www.youtube.com/watch?v=RvE8jNUFcwc&index=1&list=PLPnjoP0SfnovEfuJvb5Jf-CDhwDvw_dsi" class="to_videos" target="_blank"><%= t "technicalApps.hvacandpiping.introHero.watchvideos" %></a>
	  		</div>
	  	</div>
	  </div>
    <%= image_tag("cadprofi/hvac_and_piping_preview.png", :class => 'preview') %>
  </section>
  <div id="overview" class="centralized">
  	<h2 class="intro_title"><%= t "technicalApps.hvacandpiping.overview" %></h2>
    <p class="tagline">
      <%= t "technicalApps.hvacandpiping.tagline" %>
    </p>
  </div>
  <section id="features">
    <div class="centralized">
      <ul>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Menu" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-menu.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.menu.title" %></strong> <%= t "technicalApps.hvacandpiping.features.menu.description" %></p>
          </div>
        </li>
      	<li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Symbols" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-symbols.jpg") %></a></div>
          <div class="description">
      		  <p><strong><%= t "technicalApps.hvacandpiping.features.symbols.title" %></strong> <%= t "technicalApps.hvacandpiping.features.symbols.description" %></p>
          </div>
      	</li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Lines" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-lines.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.lines.title" %></strong> <%= t "technicalApps.hvacandpiping.features.lines.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Schemes" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-schemes.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.schemes.title" %></strong> <%= t "technicalApps.hvacandpiping.features.schemes.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Multisymbols" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-multi-symbols.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.multisymbols.title" %></strong> <%= t "technicalApps.hvacandpiping.features.multisymbols.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Attributes Numbering" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-attributes-numbering.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.attrnumbering.title" %></strong> <%= t "technicalApps.hvacandpiping.features.attrnumbering.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Marks" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-marks.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.marks.title" %></strong> <%= t "technicalApps.hvacandpiping.features.marks.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Legend Specifications" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-legend-specifications.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.legend.title" %></strong> <%= t "technicalApps.hvacandpiping.features.legend.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Isometry" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-isometry.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.isometry.title" %></strong> <%= t "technicalApps.hvacandpiping.features.isometry.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Strand Diagram" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-strand-diagram.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.stranddiagram.title" %></strong> <%= t "technicalApps.hvacandpiping.features.stranddiagram.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Pipes" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-pipes.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.pipes.title" %></strong> <%= t "technicalApps.hvacandpiping.features.pipes.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Air Conditioning" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-air-conditioning.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.aircon.title" %></strong> <%= t "technicalApps.hvacandpiping.features.aircon.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi HVAC &amp; Piping - Piping and instrumental diagram drawing" ><a href=""><%= image_tag("cadprofi/cadprofi-hvac-and-piping-and-instrumental-diagram-drawing.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.hvacandpiping.features.piping.title" %></strong> <%= t "technicalApps.hvacandpiping.features.piping.description" %></p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section id="productComparison">
    <div class="centralized">
      <h2><%= t "technicalApps.hvacandpiping.productcomparison.title" %></h2>
      <div class="table-info">
        <div class="header">
          <div class="title"></div>
          <div class='product' width="20%">CP-Symbols
HVAC &amp; Piping</div>
          <div class='product' width="20%">CADprofi
HVAC &amp; Piping</div>
        </div>
        <div class="expand_collapse">
          <table class="data">
            <tr>
              <td width="60%"><%= t "technicalApps.hvacandpiping.productcomparison.generalpiping" %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.industrialinstallations" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.radiatorsandobjects" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.ventilationsymbols" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.flowcharts" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.multilingual" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.billofmaterials" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.freeupdates" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.datamanagement" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.diagrameditor" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.desigingpid" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.drawingisometry" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.multisymbols" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.crosssymbols" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.schematiclines" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.designparametrical" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.autodesign" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.pipingventiltion" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.autoconnections" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.additionallib" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.toolsfulldescription" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.addiotionaleditioncmds" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.manufacturerslibs" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.hvacandpiping.productcomparison.additionmodules" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section id="prices">
    <div class="centralized">
      <div class="package">
        <h3>CP-Symbols HVAC &amp; Piping</h3>
        <div class="price"><%= t "technicalApps.prices.cp-symbols" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/technical-building-equipment-desing/8-cp-symbols-hvacpiping.html" class="btn blue" target="_blank"><%= t "global.continue" %></a>
      </div>
      <div class="package">
        <h3>CADprofi HVAC &amp; Piping</h3>
        <div class="price"><%= t "technicalApps.prices.cadprofi" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/technical-building-equipment-desing/5-cadprofi-hvacpiping.html" class="btn black" target="_blank"><%= t "global.continue" %></a>
      </div>
    </div>
  </section>
  <!-- Get a quote -->
  <div id="quote">
    <h4><%= t "technicalApps.hvacandpiping.popup.title" %><span class="expand"><span class="one"></span><span class="two"></span></span></h4>
    <div class="hidden_area">
    <%= render :template => "support_messages/new", :locals => {:support_message => @message}%>
    </div>
  </div>
  <!-- News & Twitter -->
  <%= render :partial => 'tryitnow' %> 
  <!-- News & Twitter ends -->
</div>
<!-- Video Popup -->
<%= render :partial => 'popupwrapper' %> 
<!-- Video Popup ends -->