<% @page_title = "CADprofi Mechanical - CAD2B" %>
<% @page_description = "CADprofi Mechanical is a parametric CAD-application facilitating the 2D design of mechanical and engineering projects" %>
<% @quote_subject = "Question about CADprofi Mechanical" %>
<% @featured_videos_url = "https://www.youtube.com/playlist?list=PLPnjoP0SfnosNgjuaxbG04mNG1m_p9Rc7" %>
<div class="techapps mechanical">
  <section id="submenu">
  	<div class="centralized">
	  	<h1>CADprofi <span>|</span> Mechanical</h1>
	  	<div class="actions">
	  		<%= link_to "#{t 'technicalApps.submenu.try'}", users_downloads_path, class: "btn green small" %>
	  		<a href="http://store.cad2b.co.uk/mechanical-projects-desing/10-cadprofi-mechanical.html" class="btn green small" target="_blank"><%= t "technicalApps.submenu.buy" %></a>
	  	</div>
	  	<nav>
	  		<ul>
	  			<li><a href="#overview"><%= t "technicalApps.submenu.features" %></a></li>
          <li><a href="#productComparison"><%= t "technicalApps.submenu.productcomparison" %></a></li>
	  		</ul>
	  	</nav>
  	</div>
  </section>	
  <section id="introHero">
	  <div class="centralized">
	  	<div class="wrap">
	  		<h2><%= image_tag("cadprofi/cadprofi-mechanical-logo.jpg") %> <span>Mechanical</span></h2>
	  		<p><%= t "technicalApps.mechanical.introHero.description" %></p>
	  		<div class="actions">
	  			<%= link_to "#{t 'technicalApps.mechanical.introHero.download'}", new_user_registration_path, class: "btn green" %>
	  			<a href="https://www.youtube.com/watch?v=tazYxnJYFC8&index=1&list=PLPnjoP0SfnosNgjuaxbG04mNG1m_p9Rc7" class="to_videos" target="_blank"><%= t "technicalApps.mechanical.introHero.watchvideos" %></a>
	  		</div>
	  	</div>
	  </div>
    <%= image_tag("cadprofi/mechanical_preview.png", :class => 'preview') %>
  </section>
  <div id="overview" class="centralized">
  	<h2 class="intro_title"><%= t "technicalApps.mechanical.overview" %></h2>
    <p class="tagline"><%= t "technicalApps.mechanical.tagline" %></p>
  </div>
  <section id="features">
    <div class="centralized">
      <ul>
      	<li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Standardized Parts" ><a href=""><%= image_tag("cadprofi/cadprofi-standardized-parts.jpg") %></a></div>
          <div class="description">
      		  <p><strong><%= t "technicalApps.mechanical.features.stdparts.title" %></strong><%= t "technicalApps.mechanical.features.stdparts.description" %></p>
          </div>
      	</li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Welds and descriptions" ><a href=""><%= image_tag("cadprofi/cadprofi-welds-and-descriptions.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.welds" %></strong><%= t "technicalApps.mechanical.features.welds" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Steel Shapes" ><a href=""><%= image_tag("cadprofi/cadprofi-steel-shapes.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.steelprofiles.title" %></strong><%= t "technicalApps.mechanical.features.steelprofiles.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Casing and end caps" ><a href=""><%= image_tag("cadprofi/cadprofi-casing-and-end-caps.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.casings.title" %></strong><%= t "technicalApps.mechanical.features.casings.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Specifications" ><a href=""><%= image_tag("cadprofi/cadprofi-specifications.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.specs.title" %></strong><%= t "technicalApps.mechanical.features.specs.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Bill of Materials" ><a href=""><%= image_tag("cadprofi/cadprofi-bill-of-materials.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.bill.title" %></strong><%= t "technicalApps.mechanical.features.bill.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Diagrams and pneumatics" ><a href=""><%= image_tag("cadprofi/cadprofi-diagrams-and-pneumatics.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.diagramspneumatics.title" %></strong><%= t "technicalApps.mechanical.features.diagramspneumatics.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Quick tools" ><a href=""><%= image_tag("cadprofi/cadprofi-quick-tools.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.quicktools.title" %></strong><%= t "technicalApps.mechanical.features.quicktools.description" %></p>
          </div>
        </li>
        <li class="feature">
          <div class="video_placeholder" data-name="CADprofi Mechanical - Producers on line" ><a href=""><%= image_tag("cadprofi/cadprofi-producers-on-lines.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.lines.title" %></strong><%= t "technicalApps.mechanical.features.lines.description" %></p>
          </div>
        </li>
        <li class="feature first">
          <div class="video_placeholder" data-name="CADprofi Mechanical - User content" ><a href=""><%= image_tag("cadprofi/cadprofi-user-content.jpg") %></a></div>
          <div class="description">
            <p><strong><%= t "technicalApps.mechanical.features.usercontent.title" %></strong><%= t "technicalApps.mechanical.features.usercontent.description" %></p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section id="productComparison">
    <div class="centralized">
      <h2><%= t "technicalApps.mechanical.productcomparison.title" %></h2>
      <div class="table-info">
        <div class="header">
          <div class="title"></div>
          <div class='product' width="20%">CP-Symbols
Mechanical</div>
          <div class='product' width="20%">CADprofi
Mechanical</div>
        </div>
        <div class="expand_collapse">
          <table class="data">
            <tr>
              <td width="60%"><%= t "technicalApps.mechanical.productcomparison.standardisedparts" %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
              <td class='center' width="20%"><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.steelshapes" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.mechanicalmarks" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.pneumatics" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.flowcharts" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.multilingual" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.billofmaterials" %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.freeupdates" %>/td>
              <td class='center'><%= image_tag("tick.png") %></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.datamanagement" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.extstandartparts" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.extsteelshapes" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.paramtech" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.autodesign" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.mechprojects" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.aparatusheatexchanger" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.pneumatichyraulic" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.addlibrariesanddb" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.fulldescriptiondetailing" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.editioncommands" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.manufacturerslibs" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
            <tr>
              <td><%= t "technicalApps.mechanical.productcomparison.additionmodules" %></td>
              <td class='center'></td>
              <td class='center'><%= image_tag("tick.png") %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section id="prices">
    <div class="centralized">
      <div class="package">
        <h3>CP-Symbols Mechanical</h3>
        <div class="price"><%= t "technicalApps.prices.cp-symbols" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/mechanical-projects-desing/13-cp-symbols-mechanical.html" class="btn blue" target="_blank"><%= t "global.continue" %></a>
      </div>
      <div class="package">
        <h3>CADprofi Mechanical</h3>
        <div class="price"><%= t "technicalApps.prices.cadprofi" %></div>
        <span><%= t "technicalApps.prices.license" %></span>
        <a href="http://store.cad2b.co.uk/mechanical-projects-desing/10-cadprofi-mechanical.html" class="btn black" target="_blank"><%= t "global.continue" %></a>
      </div>
    </div>
  </section>
  <!-- Get a quote -->
  <div id="quote">
    <h4><%= t "technicalApps.mechanical.popup.title" %><span class="expand"><span class="one"></span><span class="two"></span></span></h4>
    <div class="hidden_area">
    <%= render :template => "support_messages/new", :locals => {:support_message => @message}%>
    </div>
  </div>
  <!-- News & Twitter -->
  <%= render :partial => 'tryitnow' %> 
  <!-- News & Twitter ends -->
</div>
<!-- Video Popup -->
<%= render :partial => 'popupwrapper' %> 
<!-- Video Popup ends -->