<% @page_title = "CAD2B Download Area" %>

<div id="userDashboard">
	<h1>Downloads</h1>
	<ul class="apps_download">
		<li class="gstarcad">
			<div class="logo"><%= image_tag('gstarlogo-2016.png') %></div>
			<div class="left">
				<h3>GstarCAD 2016 Trial</h3>
				<p>This setup contains all GstarCAD versions, the user can choose during installation.</p>
				<p>After 30 days the software will work with some function restrictions.</p>
				<a href="">System Requirements</a>
			</div>
			<div class="right">
				<select id="bitVersion">
					<option name="downloads/gstar-cad-64">64-bit Windows</option>
					<option name="downloads/gstar-cad-32">32-bit Windows</option>
				</select>
				<%= link_to "Download", users_downloads_gstar_cad_64_path, class: "btn green" %>
			</div>
			<div class="clear"></div>
			<div class="sys_req">
				<h4>Operating System</h4>
				<ul>
					<li>Windows XP Home or Professional Edition SP2 or later</li>
					<li>Windows Vista SP1 or later</li>
					<li>Windows 7 (32 / 64 bits)</li>
					<li>Windows 8, 8.1 (32 / 64 bits)</li>
					<li>Windows 10 (32 / 64 bits)</li>
				</ul>
				<h4>CPU</h4>
				<ul>
					<li>Windows XP ­ Intel Pentium 4 or AMD</li>
					<li>Windows Vista ­ Intel Pentium 4 or AMD</li>
					<li>Athlon<sup>TM</sup> Dual Core Processor, 1.6 GHz or higher with SSE2 technology</li>
					<li>Athlon<sup>TM</sup> Dual Core Processor, 3.0 GHz or higher with SSE2 technology</li>
				</ul>
				<h4>Disk Storage</h4>
				<ul><li>Minumum ­ 512mb</li></ul>
				<h4>Display</h4>
				<ul><li>Minumum ­ 1024 x 768 VGA with True Color</li></ul>
				<h4>RAM</h4>
				<ul>
					<li>Windows XP ­- 512mb</li>
					<li>Windows Vista - 1gb</li>
					<li>Windows 7 - 1gb</li>
					<li>Windows 8, 8.1 - 1gb</li>
					<li>Windows 10 - 1gb</li>
				</ul>
			</div>
			<div class="more_downloads">
				<h3>Brochures</h3>
				<ul>
					<li><%= link_to "GstarCAD 2016 Complete Guide", users_downloads_gstar_cad_pdf_path(filename: "GstarCAD-2016-Complete-Guide") %></li>
					<li><%= link_to "GstarCAD 2016 Features Overview", users_downloads_gstar_cad_pdf_path(filename: "GstarCAD-2016-Features-Overview") %></li>
					<li><%= link_to "GstarCAD Tips & Tricks", users_downloads_gstar_cad_pdf_path(filename: "GstarCAD-Tips-and-Tricks") %></li>
				</ul>
			</div>
		</li>
		<li class="cad_profi">
			<div class="logo"><%= image_tag('cadprofi/cadprofi-logo.jpg') %></div>
			<div class="left">
				<h3>CADprofi Trial</h3>
				<p>CADprofi/CP­Symbols 12.01,­ 30 days demo/trial version and full version for users with active subscription.
				<p>This setup contains both CADprofi and CP­System software, all modules and languages.</p>
				<a href="">Read before download</a>
			</div>
			<div class="right">
				<%= link_to "Download", users_downloads_cad_profi_path, class: "btn green" %>
			</div>
			<div class="clear"></div>
			<div class="sys_req">
				<h4>CADprofi software is available for</h4>
				<ul>
					<li>AutoCAD 2000 or higher(32/64bit)</li>
					<li>AutoCAD LT 2000 or higher <sup>*</sup> (32/64bit)</li>
					<li>AutoCAD Architecture 2000 or higher</li>
					<li>AutoCAD MEP 2008 or higher</li>
					<li>AutoCAD Mechanical 2000 or higher</li>
					<li>BricsCAD V4.0 or higher</li>
					<li>ZWCAD 2008i ­ 2012, ZWCAD+<sup>**</sup>, ZWCAD Classic</li>
					<li>4M CAD</li>
					<li>progeCAD 2008 or higher</li>
					<li>CADopia 8 or higher</li>
					<li>StarICAD 2008</li>
					<li>GstarCAD 2010 or higher</li>
					<li>ArCADia IntelliCAD (7.2)</li>
					<li>CMS IntelliCAD (7.2)</li>
					<li>BitCAD V6</li>
					<li>Arcadia 2009 SE / Arcadia 7</li>
					<li>IntelliPlus 8 or higher</li>
					<li>JetCAD 2012 or higher</li>
					<li>ARES Commander Edition</li>
					<li>CADian 2012, 2014</li>
					<li>FineELEC 11</li>
					<li>Other programs on request</li>
				</ul>
				<p><sup>*</sup> only with optional <a href="">LTX</a> by Manusoft</p>
				<p><sup>**</sup> CADprofi works only with the Professional version. ZWCAD+ Standard is not supported by CADprofi</p>
				<h4>Requirements</h4>
				<ul>
					<li>Windows XP</li>
					<li>Windows Vista</li>
					<li>Windows 7</li>
					<li>Windows 8</li>
					<li>Windows 10</li>
				</ul>
			</div>
		</li>
	</ul>
</div>