<% @page_title = "Welcome to cad2b.co.uk" %>
<% @page_description = "CAD2B offers affordable CAD software and CAD services, GstarCAD, CADprofi and turnkey custom applications" %>
<% @share_procad_url = request.original_url+"professional-cad" %>
<% @share_cadprofi_url = request.original_url+"technical-applications" %>

<div class="home">

  <section class="showcase">
    <div class="centralized">
      <h1><%= t "home.showcase.title" %></h1>
      <p class="tag"><%= t "home.showcase.tagline" %></p>
      <%= link_to "#{t 'home.showcase.download'}", users_downloads_path, class: "btn blue" %>
    </div>
    <span class='image'></span>
    <span class='floorplan'></span>
  </section>

  <section id="main_products">     
    <div class="gstarcad product">
      <div class="half half_1">
        <div class="container">
          <h3><%= image_tag('gstarlogo-2016.png', class: "logo") %> <span>GstarCAD 2016</span></h3>
          <div class="feature">
            <p><%= t "home.gstarcad.features.tagline" %></p>
          </div>
          <div class="feature">
            <h4><%= t "home.gstarcad.features.featuresheading" %></h4>
            <ul>
              <li><%= t "home.gstarcad.features.featureslist.2D3Dfunctions" %></li>
              <li><%= t "home.gstarcad.features.featureslist.compatibledwg" %></li>
              <li><%= t "home.gstarcad.features.featureslist.familiarui" %></li>
              <li><%= t "home.gstarcad.features.featureslist.highspeed" %></li>
              <li><%= t "home.gstarcad.features.featureslist.stableplatform" %></li>
              <li><%= t "home.gstarcad.features.featureslist.manyfunctionstools" %></li>
            </ul>
          </div>
          <%= link_to("#{t 'home.gstarcad.features.allfeatures'}", professional_cad_path, class: "btn blue") %>
        </div>
      </div>
      <div class="half half_2">
        <!--<div class="share_buttons">
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=Professional%20CAD%20for%20your%20next%20project&hashtags=gstarcad&url=<%= @share_procad_url %>&via=cad2b"
            data-counturl="<%= @share_procad_url %>">
          Tweet</a>
          <div class="fb-share-button" data-href="<%= @share_procad_url %>" data-layout="button_count"></div>
        </div>-->
        <div class="demo"><%= image_tag("gstarcad/demo_example.jpg", alt: "GstarCAD 2016 User Interface") %></div>
      </div>
    </div>
    <div class="cadprofi product">
      <div class="half half_1">
        <div class="container">
          <h3><%= image_tag('cadprofi/cadprofi-logo.jpg', class: "logo") %> <span>CADprofi</span></h3>
          <div class="feature">
            <p><%= t "home.cadprofi.features.tagline" %></p>
          </div>
          <div class="feature">
            <h4>Mechanical</h4>
            <p><%= t "home.cadprofi.features.mechanical.description" %></p>
          </div>
          <div class="feature">
            <h4>Achitectural</h4>
            <p><%= t "home.cadprofi.features.architectural.description" %></p>
          </div>
          <div class="feature">
            <h4>HVAC &amp; Piping</h4>
            <p><%= t "home.cadprofi.features.hvacandpiping.description" %></p>
          </div>
          <div class="feature">
            <h4>Electrical</h4>
            <p><%= t "home.cadprofi.features.electrical.description" %></p>
          </div>
          <%= link_to("#{t 'home.cadprofi.features.allfeatures'}", technical_applications_path, class: "btn blue") %>
        </div>
      </div>
      <div class="half half_2">
        <!--<div class="share_buttons">
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=Technical%20applications%20for%20your%20next%20project&hashtags=cadprofi&url=<%= @share_cadprofi_url %>&via=cad2b"
            data-counturl="<%= @share_tt_url %>">
          Tweet</a>
          <div class="fb-share-button" data-href="<%= @share_cadprofi_url %>" data-layout="button_count"></div>
        </div>-->
        <div class="demo"><%= image_tag("cadprofi/demo_example.jpg", alt: "CADprofi User Interface") %></div>
      </div>
    </div>
  </section>
  <% if params[:locale] != "it" %>
  <section id="notification">
    <div class="window first">
      <div class="logos">
        <%= image_tag("gstarlogo-2016.png") %> <span>+</span>
        <%= image_tag("cadprofi/cadprofi-logo.jpg") %>
      </div>
      <h2>10% Discount!</h2>
      <div class="tagline">Get 10% discount on GstarCAD and CADprofi by signing up for a free trial!</div>
      <a class="btn blue request">Sign up now</a>
    </div>
    <div class="window second">
      <!-- Social Media SDKs -->
      <%= render :template => "subscribtion_list/index" %>
      <!-- Social Media SDKs ends -->
    </div>
  </section>
  <% end %>

  <!-- News & Twitter -->
  <%= render :partial => 'twitterandnews' %> 
  <!-- News & Twitter ends -->

</div>
