<div id="siteMap" class="centralized">
	<h1>Site map</h1>
	<section class="professional_cad_map">
		<h3>Professional CAD</h3>
		<ul>
			<li><a href="#overview">Overview</a></li>
			<li><a href="#features">Features</a></li>
			<li><a href="#productComparison">Product Comparison</a></li>
      <li><a href="#systemReq">System Requirements</a></li>
      <li><a href="#services">Services</a></li>
		</ul>
	</section>
	<section class="technical_apps_map">
		<h3>Technical Applications</h3>
		<ul>
			<li><a href="#overview">CADprofi Mechanical</a></li>
			<li><a href="#features">CADprofi Architectural</a></li>
			<li><a href="#productComparison">CADprofi HVAC &amp; Piping</a></li>
      <li><a href="#systemReq">CADprofi Electrical</a></li>
		</ul>
	</section>
	<section class="news_map">
		<h3>News</h3>
		<ul>
			<li><a href="#overview">News</a></li>
		</ul>
	</section>
	<section class="privacy_map">
		<h3>Privacy Policy</h3>
		<ul>
			<li><a href="#overview">Privacy Policy</a></li>
		</ul>
	</section>
</div>