<% @page_title = "CADprofi - CAD2B" %>
<% @page_description = "CADprofi helps in designing architectural and mechanical projects, as well as plumbing and electrical installations" %>
<div class="techapps overview">	
  <div class="centralized">
  	<h1><%= image_tag('cadprofi/cadprofi-logo.jpg', alt: "CADprofi Logo") %> <span>CADprofi</span></h1>
  	<h2 class="intro_title"><%= t "technicalApps.landingpage.title" %></h2>
	<p class="tagline"><%= t "technicalApps.landingpage.description" %></p>
  </div>
  <section id="cadprofiProducts">
	  <div class="product">
	  	<%= image_tag('cadprofi/cadprofi-mechanical.jpg', alt: "CADprofi Mechanical") %>
	  	<h3>Mechanical</h3>
	  	<p><%= t "technicalApps.landingpage.mechanicalDescription" %></p>
	  	<%= link_to "#{t 'global.readmore'}", technical_applications_cadprofi_mechanical_path, class: "btn green" %>
	  </div>
	  <div class="product">
	  	<%= image_tag('cadprofi/cadprofi-architectural.jpg', alt: "CADprofi Architectural") %>
	  	<h3>Architectural</h3>
	  	<p><%= t "technicalApps.landingpage.architecturalDescription" %></p>
	  	<%= link_to "#{t 'global.readmore'}", technical_applications_cadprofi_architectural_path, class: "btn green" %>
	  </div>
	  <div class="product">
	  	<%= image_tag('cadprofi/cadprofi-hvac-piping.jpg', alt: "CADprofi HVAC & Piping") %>
	  	<h3>HVAC &amp; Piping</h3>
	  	<p><%= t "technicalApps.landingpage.hvacDescription" %></p>
	  	<%= link_to "#{t 'global.readmore'}", technical_applications_cadprofi_hvac_and_piping_path, class: "btn green" %>
	  </div>
	  <div class="product">
	  	<%= image_tag('cadprofi/cadprofi-electrical.jpg', alt: "CADprofi Electrical") %>
	  	<h3>Electrical</h3>
	  	<p><%= t "technicalApps.landingpage.electricalDescription" %></p>
	  	<%= link_to "#{t 'global.readmore'}", technical_applications_cadprofi_electrical_path, class: "btn green" %>
	  </div>
  </section>
  <section id="services">
    <div class="left"></div>
    <div class="right">
      <div class="container">
        <h2><%= t "technicalApps.landingpage.ourservice.self" %></h2>
        <%= raw t "technicalApps.landingpage.ourservice.description" %>
        <a href="mailto:support@cad2b.co.uk?subject=Regarding CADprofi Servicesmove" class="btn white empty"><%= t "technicalApps.landingpage.ourservice.contactus" %></a>
      </div>
    </div>
  </section>
  <!-- News & Twitter -->
  <%= render :partial => 'twitterandnews' %> 
  <!-- News & Twitter ends -->
</div>