<div id="userDashboard" class="centralized">
	<h1>Dashboard</h1>
	<div class="areas">
		<div class="level one">
			<div class="area">
				<h3>Your Forum Topics</h3>
				<ul>
					<% current_user.topic_answers.each do |answer| %>
						<li><%= link_to answer.content.html_safe %></li>
					<% end %>
				</ul>
			</div>
			<div class="area">
				<h3>Latest Forum Topics</h3>
				<ul>
					<% @topics.each do |topic| %>
						<li><%= link_to topic.title, forum_topic_path(forum_id: topic.forum_id, id: topic.id) %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="level two">
			<ul>
				<li></li>
			</ul>
		</div>
	</div>
</div>