<div class="sign">
<h1>Administrator Login</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, placeholder: "Email address", autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions login">
    <%= f.submit "Log in", class: "btn blue" %>
  </div>
  <div class="clear"></div>
<% end %>
</div>
