<div class="error_page">
	<div class="static_hero">
		<div class="centralized"><h1>We have a small issue fulfilling your request...</h1></div>
	</div>
	<div class="centralized content">
		<p>Luckily our developer is working hard to fix it as soon as possible. You can try again a bit later!</p>
		<p>Thank you for your understanding!</p>
	</div>
</div>