<div class="error_page">
	<div class="static_hero">
		<div class="centralized"><h1>The page you are looking for doesn't exist...</h1></div>
	</div>
	<div class="centralized content">
		<p>The page might have been there, but not anymore. However you can visit the links on the top or the bottom of the page to find what you need!</p>
		<p>Thank you for your understanding!</p>
	</div>
</div>