<p><%= t "professionalCad.popup.description" %></p>
<%= form_for @message do |f| %>
  <%= f.text_field :name, autofocus: true, placeholder: "#{t 'global.form.name'}" %>
  <%= f.email_field :email, placeholder: "#{t 'devise.emailaddress'}*" %>
  <%= f.hidden_field :subject, value: "#{@quote_subject}" %>
  <%= f.text_area :message, placeholder: "#{t 'global.form.message'}" %>
  <%= f.submit "#{t 'devise.send'}", class: "btn blue medium" %>
<% end %>