<div class="sign">
<h1>Change your password</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <% if @minimum_password_length %>
      <%= f.password_field :password, autofocus: true, placeholder: "New password #{@minimum_password_length} characters minimum", autocomplete: "off" %>
    <% else %>
      <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm new password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: "btn blue" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>