<div class="sign">
<h1><%= t "devise.forgotpassword" %></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email address",  autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "#{t 'devise.resetpassword'}", class: "btn blue" %>
  </div>
<% end %>

<p class="sure"><%= t 'devise.haveanaccount' %> <%= link_to "#{t 'devise.signin'}", new_session_path(resource_name) %><br /> <%= t 'devise.createanaccount' %> <%= link_to "#{t 'devise.signup'}", new_registration_path(resource_name) %></p>
</div>