<% @page_title = "Edit Post" %>
<%= tinymce_assets %>
<div id="newPost">
	<div class="centralized">
		<div class="language"><button class="btn blue current medium english">English</button><button class="btn medium italian">Italian</button></div>
		<%= form_for(:post, :url => {:action => "update", :id => @post.id}) do |f| %>
		<div class="contents">
		  <!-- English -->
		  <div class="content_post">
		  	<%= f.text_field :title, autofocus: true, placeholder: "My title", class: "title" %>
		  	<%= f.text_area :content, placeholder: "My content here...", class: "content tinymce", id: "editor-1" %>
		  </div>
		  <!-- Italian -->
		  <div class="content_post_it">
		  	<%= f.text_field :title_it, placeholder: "Il mio titolo", class: "title" %>
		  	<%= f.text_area :content_it, placeholder: "Il mio contenuto qui...", class: "content tinymce", id: "editor" %>
		  	<%= tinymce :content_css => asset_path('application.css') %>
		  </div>
		</div>
		  <div class="featured_image">
		  	<label>Featured image</label>
		  	<%= f.file_field :featured_image %>
		  </div>
		  <div class="mark_draft"><%= f.check_box :is_draft %><label>Mark as draft</label></div>
		  <%= f.submit "Update", class: "btn blue" %>
		<% end %>
	</div>
</div>