<% @page_title = "CAD2B - News" %>
<div id="posts">
	<div class="latest_article">
		<div class="latest_post">
			<header>
				<div class="author_image"><%= image_tag @last_published_post.user.avatar.url %></div>
				<h2>
					<% if locale.to_s != "it" or @last_published_post.title_it.blank? or @last_published_post.content_it.blank? %><%= link_to @last_published_post.title, action: "show", id: @last_published_post.slug %><% else %><%= link_to @last_published_post.title_it, action: "show", id: @last_published_post.slug %><% end %>
				</h2>
				<date class="date"><%= @last_published_post.created_at().strftime("%d %b.") %></date>
			</header>
			<div class="excerpt">
				<% if locale.to_s != "it" or @last_published_post.title_it.blank? or @last_published_post.content_it.blank? %><p><%= raw strip_tags(@last_published_post.content).truncate(350) %></p><% else %><p><%= raw strip_tags(@last_published_post.content_it).truncate(350) %></p><% end %>
			</div>
		</div>
		<%= image_tag @last_published_post.featured_image, class: "latest_post_hero" %>
	</div>
	<section id="postsWall">
		<div class="centralized">
			<section class="posts">
				<% @posts.each do |post| %>
					<% if post.is_draft == true %>
						<!-- Hide the post if is a Draft -->
					<% else %>
						<article>
							<header>
								<div class="author_image"><%= image_tag post.user.avatar.url %></div>
								<h3><% if locale.to_s != "it" or post.title_it.blank? or post.content_it.blank? %><%= link_to(post.title, {action: "show", id: post.slug}) %><% else %><%= link_to(post.title_it, {action: "show", id: post.slug}) %><% end %></h3>
							</header>
							<div class="excerpt">
								<% if locale.to_s != "it" or post.title_it.blank? or post.content_it.blank? %>
									<p><%= raw strip_tags(post.content).truncate(350) %></p>
								<% else %>
									<p><%= raw strip_tags(post.content_it).truncate(350) %></p>
								<% end %>
							</div>
							<div class="date"><%= post.created_at.strftime("%d %b.") %></div>
						</article>
					<% end %>
				<% end %>
			</section>
			<!-- <section class="categories">
				<ul>
					<li><a href="">marketing</a></li>
					<li><a href="">insights</a></li>
					<li><a href="">thoughts</a></li>
				</ul>
			</section> -->
		</div>
	</section>
</div>