<% @page_title = @post.title %>

<!-- Social Media SDKs -->
<%= render :partial => '/shared/socialmediasdks' %> 
<!-- Social Media SDKs ends -->

<% if user_signed_in? and current_user.role.name == "admin" %>
<div id="notifications" class="green"><%= link_to("Edit this post", administrator_posts_edit_path(:id => @post.slug)) %></div>
<% end %>
<div id="postInner">
	<div class="image_and_title" style="background-image: url(<%= @post.featured_image %>)">
		<h1><% if locale.to_s != "it" or @post.title_it.empty? or @post.content_it.empty? %><%= @post.title %><% else %><%= @post.title_it %><% end %></h1>
		<span></span>
		<div class="by_author">By <%= @post.user.name %> <%= @post.user.surname %></div>
	</div>
	<div class="author"><%= image_tag @post.user.avatar.url %></div>
	<div class="post_body">
		<div class="centralized">
		<% if locale.to_s != "it" or @post.title_it.empty? or @post.content_it.empty? %><%= @post.content.html_safe %><% else %><%= @post.content_it.html_safe %><% end %>
		</div>
		<div class="share_buttons centralized">
          <a class="twitter-share-button"
            href="https://twitter.com/intent/tweet?text=<%=@post.title%>&url=<%= @share_procad_url %>&via=cad2b"
            data-counturl="<%= @share_procad_url %>">
          Tweet</a>
          <a href="https://www.facebook.com/dialog/feed?app_id=147982825558188&link=http://cad2b.co.uk/&picture=<% @post.featured_image.url %>&name=<%= @post.title %>&description=<%= strip_tags(@post.content.truncate(250)) %>&caption=By CAD2B&redirect_uri=http://cad2b.co.uk/" target="_blank" class="fb-share"><%= image_tag('fb-icon.png') %> Share</a>
		</div>
	</div>