/*
	Admin
*/

#admin #header {
	background: #fff;
	border-bottom: 1px solid #D1E0E4;
}

.logo_admin {
	float: left;
	width: 264px;
	margin-top: 15px;
}

.logo_admin img {
	width: 56px;
	float: left;
}

.logo_admin span {
	font-size: 25px;
    display: block;
    float: left;
    margin-top: 12px;
    margin-left: 16px;
}

/* Navigation */
#admin .nav a {
	color: #415f71;
	border-radius: none;
	padding: 0px;
	margin: 0 15px;
}

#admin .nav > ul > li:hover > a {
	background: none;
	color: #223c4b;
	border-bottom: 1px solid #223c4b;
}

#admin .nav li.login {
	color: #415f71;
}

/*
	Admin Dashboard
*/

#dashboardWall {
	background: #ecf0f1;
	text-align: center;
	width: 100%;
	padding-top: 30px;
}

#dashboardWall .grid {
	margin: 0 auto;
}

#dashboardWall .box {
	background: white;
	padding: 30px;
	border-radius: 5px;
	width: 370px;
	margin-bottom: 30px;
	text-align: left;
}

#dashboardWall .box h3 {
	font-size: 25px;
	font-weight: 300;
	float: left;
}

#dashboardWall .box h4 {
	font-weight: 800;
	font-size: 14px;
	margin-bottom: 10px;
	word-wrap: break-word;
}

#dashboardWall .box .right {
	float: right;
}

#dashboardWall .box .right .btn {
	float: left;
}

#dashboardWall .box .right .green {
	margin-left: 10px;
}

#dashboardWall .box ul, #dashboardWall .box table {
	margin-top: 30px;
}

#dashboardWall .box ul li:first-child {
	margin-top: 0px;
}

#dashboardWall .box ul li {
	margin-top: 30px;
}

#dashboardWall .box ul li h4 {
	font-size: 15px;
	line-height: 1.3em;
	padding-bottom: 10px;
	font-weight: normal;
	margin-bottom: 0px;
}

#dashboardWall .box ul li p {
	font-size: 13px !important;
	line-height: 1.5em !important;
	font-family: "Open Sans" !important;
	color: #666 !important;
}

#dashboardWall .box table {
	width: 100%;
	table-layout: fixed;
}

#dashboardWall .box table tr {
	border-top: 1px solid #eee;
}

#dashboardWall .box table tr:first-child {
	border-top: 0px;
}

#dashboardWall .box table td {
	font-size: 13px;
	color: #333;
	padding: 10px 0;
}

#dashboardWall .box table td p {
	line-height: 1.4em;
	word-wrap: break-word;
}

#dashboardWall .box table td.reg_date {
	text-align: right;
}



/*
	Admin Posts
*/

#adminPosts {
	padding: 60px;
	background: #ecf0f1;
}

#adminPosts .centralized {
	padding: 20px;
	background: #fff;
	border-radius: 5px;
}

#adminPosts h2 {
	float: left;
	font-size: 26px;
}

#adminPosts h2 .size {
	color: #333;
	font-weight: normal;
	margin-left: 5px;
}

#adminPosts .btn {
	float: right;
	width: 100px;
	margin-left: 15px;
}

#adminPosts table {
	width: 100%;
	text-align: left;
	margin-top: 20px;
}

#adminPosts table tr:nth-child(2n+2) {
	background: #eee;
}

#adminPosts table th {
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	color: #333;
}

#adminPosts table td {
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
	vertical-align: middle;
	color: #555;
}

#adminPosts table h3 {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4em;
	float: left;
	margin-right: 10px;
}

#adminPosts table .role {
	font-size: 9px;
	width: 10px;
	height: 10px;
	border-radius: 15px;
	display: block;
	text-transform: uppercase;
	position: relative;
	top: 6px;
	float: left;
}

#adminPosts table .role.admin {
	background: #223c4b;
}

#adminPosts table .role.registered {
	background: #78ce72;
}

#adminPosts table .role.moderator {
	background: #EABD57;
}

#adminPosts table .role.banned {
	background: #EA5757;
}

#adminPosts table .excerpt p{
	font-size: 13px !important;
	font-weight: 400 !important;
	line-height: 1.4em !important;
	color: #666;
	font-family: "Open Sans" !important;
}

#adminPosts .actions {
	color: #777;
	font-size: 13px;
}

#adminPosts .actions a {
	color: #333;
}

/*
	Admin New Post
*/

#newPost {
	padding: 60px 0;
}

#newPost .language {
	overflow: hidden;
	margin-bottom: 20px;
}

#newPost .language .btn {
	float: left;
	margin-right: 10px;
}

#newPost .content_post, #newPost .content_post_it {
	position: absolute;
	width: 100%;
}

#newPost .content_post_it {
	display: none;
}

#newPost .title {
	font-size: 26px;
	outline: none;
	padding-bottom: 15px;
	width: 100%;
	border: none;
}

#newPost .content {
	font-size: 15px;
	border: 1px solid white;
	outline: none;
	padding-bottom: 15px;
	width: 100%;
}

#newPost .title:focus, #newPost .content:focus {
	-webkit-box-shadow: none !important;
}

#newPost .featured_image {
	margin: 30px 0;
}

#newPost .featured_image label {
	display: block;
}

#newPost .featured_image #post_featured_image {
	margin: 20px 0 0;
	background: #eee;
	padding: 30px;
}

.mce-panel {
	border: none !important;
}

div.mce-edit-area {
	padding-top: 20px;
}

.mark_draft {
	margin-bottom: 30px;
}

.mark_draft label {
	font-size: 13px;
	padding-left: 5px;
	color: #666;
}

/*
	Admin Footer
*/

#admin #footer {
	background: white;
	text-align: center;
}

#admin #footer span {
	font-size: 13px;
	text-align: center;
	color: #666;
}













