@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -moz-font-feature-settings: 'liga', 'kern' !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

input[type="button"], input[type="field"], input[type="email"], input[type="password"], select {
	-webkit-appearance: none;
   	-moz-appearance:    none;
   	appearance:         none;
}

::selection {
  background: #e2e2e2; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #e2e2e2; /* Gecko Browsers */
}

// Our variables
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

/* Blue */
$light-blue:        #38a0ba;
$dark-blue:        #223c4b;
$lighter-dark-blue: #415f71;

/* Grey */
$light-grey: #ecf0f1;
$grey: #555555;
$dark-grey: #333333;

/* Green */
$green: #78ce72;

/* Red */
$red: #FF5A5A;

// Width of the content area
$content-width:    800px;

/*
	General
*/

	.centralized {
		max-width: 980px;
		margin: 0 auto;
		position: relative;
	}

	.clear {
		clear: both;
	}

/* Typography */

h1 {
	font-size: 36px;
}

h2 {
	font-size: 36px;
	font-weight: 300;
	line-height: 1.4em;
}

a {
	color: $light-blue;
	text-decoration: none;
}

/* Buttons */

.btn {
	padding: 10px 20px;
	border-radius:40px;
	text-align: center;
	border: 0px;
	font-size: 15px;
	outline: none;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.btn.medium {
	padding: 5px 15px;
	font-size: 14px;
}

.btn.small {
	padding: 2px 10px;
	font-size: 14px;
}

.btn.fullwidth {
	width: 100%;
}

.blue {
	background: $light-blue;
	color: white;
}

.red {
	background: $red;
	color: white;
}

.btn.empty {
	padding: 9px 19px;
}

.black.empty {
	border: 1px solid $dark-grey;
	color: $dark-grey;
	background: none !important;
}

.white.empty {
	border: 1px solid white;
	color: white;
	background: none !important;
}

.red.empty {
	border: 1px solid $red;
	background: none;
	color: $red;
}

.black {
	background: $dark-grey;
	color: white;
}

.green {
	background: $green;
	color: white;	
}

/* Inputs */
input:focus {
	box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.8) !important;
}

/* Tooltip */
.tooltipable {
	position: relative;
}

.tooltip {
	background: #333;
	padding: 3px 5px;
	color: white;
	border-radius: 2px;
	display: block;
	position: absolute;
	left: -5px;
	top: -21px;
}

.tooltip::after {
	content: "";
	position: absolute;
	border-left: 4px solid transparent;
	border-top: 4px solid #333;
	border-right: 4px solid transparent;
	bottom: -4px;
	width: 0px;
	height: 0px;
	left: 5px;
}

/*
	Header
*/

#header {
	height: 84px;
	width: 100%;
	background: $dark-blue;
}

#header .logo {
	color: white;
	font-style: italic;
	font-size: 20px;
	font-weight: 600;
	float: left;
	position: relative;
	top: 17px;
	margin-right: 20px;
}

#header .logo img {
	height: 51px;
}

#header .phone_icon {
	display: none;
}

.nav {
	font-size: 14px;
	overflow: hidden;
	height: 84px;
}

.nav > ul {
	height: 84px;
	line-height: 84px;
}

.nav > ul > li {
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.nav li.login {
	float: right;
	margin-top: 32px;
	color: white;
}

.nav li.login span {
	cursor: default;
}

.nav a {
	color: white;
	text-decoration: none;
	padding: 5px 10px;
	background: transparent;
	border-radius: 2px;
}

.nav > ul > li:hover > a, .nav > ul > li > a.current {
	background: $lighter-dark-blue;
}

/* Menu - sub */
.nav ul ul {
	position: absolute;
	background: white;
	top: 80px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
	opacity: 0;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  	/* IE 5-7 */
  	filter: alpha(opacity=0);
	z-index: -1;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.nav ul li.login ul {
	right: 0px;
}

.nav ul li:hover ul {
	top: 65px;
	z-index: 10;
	opacity: 1;
	/* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  	/* IE 5-7 */
  	filter: alpha(opacity=100);
}

.nav ul ul:before {
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 20px;
}

.nav ul ul:after {
	content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
}

.nav ul li.login ul:before {
    right: 20px;
    left: auto;
}

.nav ul ul li {
	height: auto !important;
	line-height: 40px;
	display: block;
	overflow: hidden;
	padding: 20px;
	border-top: 1px solid $light-grey;
}

.nav ul li.login ul li {
	height: auto !important;
	line-height: 5px;
	display: block;
	overflow: hidden;
	padding: 20px;
}

.nav ul ul li:first-child {
	margin-top: 0px;
	border: none;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.nav ul ul li:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.nav ul ul li img {
	width: 40px;
	float: left;
}

.nav ul ul li a {
	color: $dark-blue;
	background: none;
	padding: 12px 10px;
}

.nav ul ul li:hover{
	background: $light-grey;
}


/* Sales line */
.sales_line {
	padding: 3px 10px;
	background: $light-blue;
	position: absolute;
	top: 0px;
	right: 0px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	color: white;
	font-size: 13px;
}

/* Submenu */
#submenu {
	height: 83px;
	width: 100%;
	line-height: 83px;
	overflow: hidden;
	background: white;
	position: absolute;
	top: 84px;
}

#submenu.stick {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 200;
}

#submenu h1 {
	float: left;
	color: $grey;
}

#submenu h1 span {
	color: #dedede;
	font-weight: 300;
}

#submenu nav {
	float: right;
}

#submenu select {
	display: none;
}

#submenu nav li {
	float: left;
	font-size: 13px;
	padding-right: 20px;
}

#submenu nav li a {
	color: #aaa;
}

#submenu nav li a:hover, #submenu nav li a.current {
	color: $grey;
}

#submenu nav li:last-child {
	padding-right: 0px;
}

#submenu .actions {
	float: right;
	margin-left: 15px;
}

#submenu .actions .btn {
	//width: 30px;
	line-height: 20px;
	margin-top: 25px;
	display: inline-block;
	margin-left: 10px;
}

/* Introduction Hero Section */
#introHero {
	height: 510px;
	background-size: cover;
	max-width: 1440px;
	position: relative;
	overflow: hidden;
	margin: 83px auto 0;
}

#introHero .centralized {
	vertical-align: middle;
	height: 510px;
}

#introHero .wrap {
	width: 420px;
	position: absolute;
  	height: 266px;
  	top: 50%;
  	margin-top: -133px;
}

#introHero .wrap h2 {
	font-size: 38px;
	font-weight: 400;
	overflow: hidden;
	padding-bottom: 10px;
}

#introHero .wrap h2 img {
	float: left;
	width: 59px;
}

#introHero .wrap h2 span {
	padding: 10px 0 0 15px;
	display: block;
	float: left;
}

#introHero .wrap .tag {
	font-size: 28px;
	font-weight: 200;
}

#introHero .wrap p {
	font-size: 16px;
	line-height: 1.7em;
	margin: 25px 0;
}

#introHero .wrap .actions .to_videos {
	font-size: 13px;
	color: $dark-blue;
	position: relative;
	top: 8px;
    left: 25px;
} 

#introHero .wrap .actions .btn {
	width: 140px;
	float: left;
}

/* Intro Title */
.intro_title {
	color: $light-blue;
	line-height: 1.5em;
	padding: 70px 0;
	font-size: 28px;
	text-align: center;
}

/* System Requirements */
#productComparison {
	background: $light-grey;
	padding: 60px 0;
}

#productComparison h2 {
	color: $light-blue;
	text-align: center;
	padding-bottom: 60px;
}

#productComparison p {
	font-size: 13px;
	text-align: center;
	padding: 40px 0 0 0;
	color: $grey;
}

#productComparison .table-info {
	width: 100%;
}

#productComparison .table-info .header {
	display: table;
	width: 100%;
	cursor: pointer;
	background: transparent;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#productComparison .table-info .header:hover {
	background: #E5E6E6;
}

#productComparison .table-info .header div.title {
	width: 55%;
	border-bottom: 1px solid #c9cccd;
	font-size: 14px;
	font-weight: 500;
	padding: 10px 0;
	vertical-align: middle;
	color: $dark-blue;
}

#productComparison .table-info .header div.product {
	border-bottom: 1px solid #c9cccd;
	font-size: 14px;
	font-weight: 500;
	padding: 7px 0;
	vertical-align: middle;
	text-align: center;
	width: 15%;
	color: $dark-blue;
}

#productComparison .table-info .header div {
	display: table-cell;
}

#productComparison .data {
	width: 100%;
	text-align: left;
}

#productComparison .expand_collapse {
	display: none;
}

#productComparison .data td {
	border-bottom: 1px solid #dfe3e4;
	font-size: 14px;
	font-weight: 400;
	height: 30px;
	color: #737373;				
	vertical-align: middle;
}

#productComparison .data tr:hover {
	background: white;
}

#productComparison .data tr:last-child td {
	border-bottom: none;	
}

#productComparison .data .center {
	text-align: center;
}

#productComparison .data td img {
	width: 17px;
}

/* System Requirements */
#systemReq {
	background: $dark-blue;
	padding: 60px 0;
	overflow: hidden;
}

#systemReq .centralized {
	max-width: 810px;
}

#systemReq h2 {
	text-align: center;
	color: white;
	padding-bottom: 60px;
}

#systemReq h3 {
	font-weight: 300;
	color: white;
	padding-bottom: 15px;
	font-size: 25px;
	overflow: hidden;
}

#systemReq h3 img {
	float: left;
}

#systemReq h3 span {
	display: block;
	float: left;
	padding: 4px 0 0 10px;
}

#systemReq .left ul {
	padding-bottom: 50px;
}

#systemReq .right ul {
	padding-bottom: 32px;
}

#systemReq li {
	color: white;
	padding-bottom: 7px;
	font-size: 14px;
}

#systemReq .left {
	width: 471px;
	float: left;
}

#systemReq .right {
	width: 281px;
	float: right;
}

/* Features */

#features {
	overflow: hidden;
}

#features .centralized {
	overflow: hidden;
	margin-bottom: 60px;
}

.feature:first-child {
	margin-left: 0px !important;
}

.feature.first {
	margin-left: 0px !important;
}

/* Video Pop up for Features*/
.pop_up_wrapper {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	display: none;
}

.pop_up_wrapper .pop_up_panel {
	width: 80%;
	max-width: 1280px;
	height:auto;
	position: relative;
	margin: 0 auto;
	border-radius: 5px;
	padding-top: 100px;
}

.pop_up_wrapper .pop_up_panel .video {
	width: 70%;
	height: auto;
	padding-bottom: 56.25%;
	overflow: hidden;
	position: relative;
	float: left;
}

.pop_up_wrapper .pop_up_panel iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

.pop_up_wrapper .pop_up_panel .description {
	width: 25%;
    float: left;
    padding-left: 29px;
}

.pop_up_wrapper .pop_up_panel .description h3 {
	color: white;
    font-size: 23px;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 18px;
}

.pop_up_wrapper .pop_up_panel .description p {
	color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    opacity: 0.7;
    margin-bottom: 30px;
}

.pop_up_wrapper .pop_up_panel .description .btn {
	width: 60%;
	display: table-cell;
}

.pop_up_wrapper .pop_up_panel .description span {
	width: 3%;
	display: table-cell;
}

.pop_up_wrapper .pop_up_panel .description .close {
	width: 15%;
}

/* Techincal Apps */

.techapps {
	overflow: hidden;
}

/* Intro Title */
.techapps .intro_title {
	padding-bottom: 40px;
}

/* Tagline */
.techapps .tagline {
	text-align: center;
	font-size: 18px;
	line-height: 1.5em;
	padding-bottom: 100px;
	color: #223c4b;
	max-width: 880px;
	margin: 0 auto;
}

/* Introduction Hero Section */
.techapps #introHero .wrap h2 {
	color: #223c4b;
}

.techapps #introHero .wrap h2 img {
	width: 56px;
}

.techapps #introHero .wrap .tag {
	color: #223c4b;
}

.techapps #introHero .wrap p {
	color: #223c4b;
}

.techapps #introHero .preview {
	position: absolute;
	right: -40px;
	bottom: -31px;
}

/* Features */
.techapps #features .feature {
	width: 286px;
	height: 290px;
	background: $light-grey;
	border-radius: 3px;
	float: left;
	overflow: hidden;
	margin: 0 0 61px 61px;
	
}

.techapps #features .feature .video_placeholder {
	width: 100%;
	height: 161px;
	background: black;
}

.techapps #features .description {
	height: 129px;
	position: relative;
	width: 100%;
}

.techapps #features .feature p {
	font-size: 14px;
	line-height: 1.4em;
	padding: 20px;
	color: $grey;
	position: absolute;
	display: block;
	top: 0px;
}

.techapps #features .feature p strong {
	display: block;
	padding-bottom: 5px;
}

/* Product Comparison */
.techapps #productComparison .table-info .header div.title {
	width: 60%;
}

.techapps #productComparison .table-info .header div.product {
	width: 20%;
}

/* Prices */
#prices {
	padding: 80px 0;
	text-align: center;
}

#prices .package {
	width: 250px;
	display: inline-block;
	margin: 0 30px;
	vertical-align: top;
}

#prices .package h3 {
	color: $dark-blue;
	font-size: 25px;
	font-weight: 300;
	padding-bottom: 30px;
}

#prices .package ul {
	padding-left: 30px;
	margin-bottom: 40px;
}

#prices .package:first-child ul {
	margin-bottom: 60px;
}

#prices .package li {
	font-size: 15px;
	color: #666;
	line-height: 1.4em;
	margin-bottom: 10px;
	text-align: left;
	background: asset-url("available.png") no-repeat;
	background-position: left top;
	background-size: 25px;
	padding-left: 30px;
}

#prices .package .price {
	color: $dark-blue;
	font-size: 55px;
	font-weight: 100;
	padding-bottom: 10px;
}

#prices .package span {
	color: $grey;
	font-size: 14px;
	display: block;
}

#prices .package a {
	width: 162px;
	margin-top: 20px;
	margin: 30px auto 0;
}

#prices .extra {
	font-size: 13px;
    position: relative;
    color: #666;
    font-style: italic;
    padding-top: 70px;
    display: block;
}

/* Trial Section */
#trial {
	background: $light-grey;
	padding: 60px 0;
}

#trial h2 {
	color: $light-blue;
	text-align: center;
	margin: 0 auto;
	line-height: 1.3em;
}

#trial .btn {
	margin: 60px auto 0;
	width: 160px;
}

/* Services */

#services {
	width: 100%;
	display: table;
}

#services .left {
	background: asset-url('services.jpg') no-repeat right center;
	background-size: cover;
}

#services .left, #services .right {
	width: 50%;
	display: table-cell;
}

#services .right {
	background: $dark-grey;
	padding: 60px 0;
}

#services .right .container {
	max-width: 435px;
	padding-left: 60px;
}

#services .right h2 {
	color: white;
	padding-bottom: 30px;
}

#services .right p {
	color: white;
	line-height: 1.5em;
	margin-bottom: 20px;
}

#services .right .btn {
	width: 120px;
	margin-top: 30px;
}

/* Notifications */
#notifications {
	padding: 20px;
	text-align: center;
}

#notifications.green {
	background-color: $green;
}

#notifications.green a {
	color: white;
}

#notification {
	background: $dark-blue;
	padding: 60px 0;
	text-align: center;
	overflow: hidden;
	position: relative;

	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}

#notification img {
	width: 100px;
	margin-bottom: 30px;
}

#notification h2 {
	color: white;
}

#notification .tagline {
	color: white;
	font-size: 17px;
	padding: 20px 0 40px;
	line-height: 1.5em;
}

#notification .btn {
	width: 150px;
	margin: 0 auto;
}

/* Terms Pages */
#terms {
	padding: 60px 0;
}

#terms h1 {
	font-weight: lighter; 
	padding-bottom: 20px;
}

#terms h2 {
	font-weight: lighter; 
	font-size: 28px;
	padding: 20px 0;
	color: #333;
}

#terms p {
	margin-bottom: 20px;
	line-height: 1.5em;
	color: #333;
}

/* News & Twitter */

/* News */

.news_twitter {
	background: $light-grey;
	padding: 60px 0;
	overflow: hidden;
}

.news_twitter .centralized {
	max-width: 840px;
}

section.news {
	max-width: 490px;
	float: left;
}

section.news article {
	width: 100%;
	padding: 20px;
	background: white;
	border-radius: 2px;
	margin-top: 25px;
	box-sizing: border-box;
	overflow: hidden;
}

section.news article:first-child {
	margin-top: 0px;
}

section.news article date {
	display: inline-block;
	height: 16px;
	width: 90px;
	vertical-align: middle;
	color: $light-blue;
	text-align: center;
}

section.news .content {
	display: inline-block;
	vertical-align: middle;
	width: 335px;
	border-left: 1px solid $light-grey;
	padding-left: 15px;
}

section.news .content {
	vertical-align: middle;
}

section.news article h3 {
	font-size: 17px;
	margin-bottom: 10px;
	line-height: 1.4em;
}

section.news article p {
	font-size: 14px !important;
	color: $grey !important;
	line-height: 1.5em !important;
}

section.news article p:last-child {
	margin-bottom: 0px !important;
}

section.news .btn {
	width: 100px;
	margin-top: 30px;
}

/* Twitter */
section.twitter {
	max-width: 250px;
	float: right;
}

section.twitter #twitterFeed {
	margin-bottom: 30px;
}

section.twitter .btn {
	width: 120px;
}

section.twitter li {
	margin-top: 20px;
}

section.twitter .user {
	margin-bottom: 10px;
	overflow: hidden;
}

section.twitter .user img {
	width: 20px;
	float: left;
	display: block;
}

section.twitter .user a img {
	display: none;
}

section.twitter .user a {
	text-decoration: none;
}

section.twitter .user span {
	color: $dark-grey;
	font-size: 14px;
}

section.twitter .user span[data-scribe="element:name"] {
	display: none;
}

section.twitter .user span[data-scribe="element:screen_name"] {
	padding-top: 5px;
	padding-left: 5px;
	display: block;
	float: left;
}

section.twitter .tweet {
	margin-bottom: 5px;
	color: $grey;
	font-size: 13px;
	line-height: 1.5em;
}

section.twitter .timePosted a {
	font-size: 11px;
	color: $grey;
	text-decoration: none;
}

/*
	Register & Log in
*/

.sign {
	background: $light-grey;
	width: 360px;
	margin: 100px auto;
	padding: 30px;
	border-radius: 10px;
}

.sign h1 {
	color: $light-blue;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
	font-size: 28px;
}

.sign .field input {
	width: 100%;
	padding: 15px 10px;
	border: none;
	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 14px;
	outline: none;
	border-radius: 3px;
	font-family: "Open Sans";
	color: $grey;
} 

.sign .field select {
	padding: 15px 10px;
	border: none;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAA1UlEQVRoQ+2VQQrDMBADNy9v+/PiQ6AUiuXMimCqXHKIV9nRBHLU5tex+f4VgLsNxkAMwAbyCcEC8XgM4AphQAzAAvF4DOAKYUAMwALxeAzgCmHAXxt4VtUDFniOv6pq5C1f1EAHxOXlBy0FGBkEAi3fBXAVAi/fCbAK0bJ8N4AK0ba8A2AG0bq8C+AXRPvyToBvCMvyboAT4vO+/KOaDXT8B2bvsD4PgLVeITwGhJKsR2LAWq8QHgNCSdYjMWCtVwiPAaEk65EYsNYrhMeAUJL1yPYG3kQQEzGc4fSmAAAAAElFTkSuQmCC") #fff no-repeat right center;
	background-size: 20px;
	border-radius: 3px;
	font-size: 14px;
	margin-bottom: 20px;
	color: $grey;
	min-width: 120px;
	text-transform: capitalize;
	margin-left: 10px;
}

.sign .sure {
	font-size: 12px;
	text-align: center;
	color: #777;
	line-height: 1.5em;
	width: 320px;
	margin: 30px auto;
}

.sign .change_action {
	font-size: 13px;
	text-align: center;
	color: #444;
	line-height: 1.5em;
}

#user_subscribe {
	width: auto;
	margin-right: 10px;
}

.sign label {
	font-size: 13px;
	color: #666;
}

.sign .actions .btn.left {
	float: left;
}

.sign .actions .right_link {
	float: right;
	position: relative;
	top: 10px;
}

/* Login */
.sign .remember {
	position: relative;
	top: 10px;
}
.sign .remember, .sign .remember input {
	float: left;
	width: auto;
}

.sign .remember label {
	font-size: 13px;
	color: $grey;
	padding-left: 5px;
}

.sign .actions.login {
	float: right;
}

.sign .actions.login .btn {
	width: 140px;
}

.sign.login {
	margin-bottom: 40px;
}

.forgotten {
	text-align: center;
	width: 100%;
	display: block;
	margin-bottom: 100px;
	font-size: 13px;
}

/* Errors */
#error_explanation {
	margin-bottom: 20px;
}
#error_explanation ul {
	background: #F7C6C6;
	padding: 10px;
	border-radius: 3px;
}

#error_explanation ul {
	list-style: decimal;
	padding-left: 30px;
}

#error_explanation ul li {
	color: #5F2D2D;
	font-size: 12px;
	margin-top: 10px;
}

#error_explanation ul li:first-child {
	margin-top: 0px;
}

.field_with_errors input {
	background: #F7C6C6;
}

/*
	Get in touch panel
*/

#quote {
	width: 300px;
	position: fixed;
	bottom: 0px;
	right: 100px;
	background: #222;
	padding: 10px 15px 0px 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	overflow: hidden;

	z-index: 10;

	-webkit-box-shadow: 01px 3px 10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 01px 3px 10px rgba(0, 0, 0, 0.8);
	box-shadow: 01px 3px 10px rgba(0, 0, 0, 0.8);
}

#quote #flash_notice {
    background: #4F8A54;
    padding: 10px;
    color: #1D4A21;
    text-align: center;
    border-radius: 3px;
    font-size: 13px;
    margin-bottom: 12px;
    margin-top: 12px;
    display: none;
}

#quote h4 {
	color: white;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 10px;
	cursor: pointer;
}

#quote .expand {
	position: absolute;
	right: 15px;
	display: block;
	width: 14px;
	height: 14px;
	top: 12px;
}

#quote .expand span {
	position: absolute;
	display: block;
	background-color: white;
	top: 0px;
	left: 0px;
}

#quote .expand span.one {
	width: 14px;
	height: 2px;
	top: 6px;
}

#quote .expand span.two {
	width: 2px;
	height: 14px;
	left: 6px;
}

#quote h4.expanded .two {
	display: none;
}

#quote .hidden_area {
	display: none;
}

#quote p {
	color: white;
	font-size: 13px;
	padding-bottom: 15px;
	line-height: 1.5em;
}

#quote form input:not([type=submit]) {
	width: 100%;
	padding: 7px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 10px;
	background: #333;
	border: 2px solid #fff;
	border-radius: 3px;
	font-size: 13px;
	color: white;
}

#quote form textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height: 200px;
	min-height: 100px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #333;
	border: 2px solid #fff;
	border-radius: 3px;
	font-size: 13px;
	color: white;
	margin-bottom: 15px;
}

#quote form input.error:not([type=submit]), #quote form textarea.error {
	background: #4E1717;
	border-color: #6D2A37;
}

#quote form .btn {
	float: right;
	margin-bottom: 15px;
}

/*
	Login / Register Popup
*/

.pop_up_wrapp {
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 10000;
}

.pop_up_wrapp .box {
	width: 200px;
	padding: 50px;
	background: white;
	border-radius: 3px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}

/*
	Static Pages
*/

.static_hero {
	padding: 40px 0;
}

.static_hero h1 {
	font-weight: lighter;
}

/*
	Footer
*/	

#footer {
	width: 100%;
	padding: 60px 0 0;
	background: #222;
}

#footer .footer_nav li {
	display: inline-block;
	margin-right: 15px;
}

#footer .footer_nav li a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}

/* Follow */

#footer .follow {
	overflow: hidden;
}

#footer .follow h4 {
	color: white;
	font-weight: 500;
	margin-top: 60px;
	margin-bottom: 15px;
}

#footer .follow li {
	float: left;
	margin-right: 10px;
}

#footer .follow li img {
	width: 28px;
}

/* Location */

#footer .location_copy_info {
	margin: 40px 0;
}

#footer .location {
	float: left;
	position: relative;
}

#footer .location img {
	width: 25px;
	float: left;
}

#footer .location .country_name {
	color: white;
    font-size: 13px;
    display: block;
    float: left;
    position: relative;
    top: 15px;
    left: 10px;
    cursor: pointer;
}

#footer .location .select_country {
	background: #333333;
    padding: 0 5px;
    border: none;
    height: 25px;
    width: 150px;
    color: white;
    display: block;
    margin-top: 6px;
    float: left;
    outline: none;
    border-radius: 3px;
    font-size: 13px;
    -moz-appearance: none;
}


/* Site Info */

#footer .site_info {
	float: right;
	margin-right: 40px;
	color: #777;
}

#footer .site_info a {
	color: white;
	font-size: 13px;
	text-decoration: none;
}


/* Copyright */

#footer .copyright {
	float: right;
}

#footer .copyright span {
	font-size: 12px;
	color: #555;
}


/* Lower Footer */

#footer .lower_footer {
	background: #111;
	width: 100%;
	height: 69px;
	line-height: 67px;
}

#footer .lower_footer a, #footer .lower_footer span {
	font-size: 12px;
	color: white;
	text-decoration: none;
	margin-right: 40px;
}


  