body {font-family: Arial;}
#main {width: 600px;}
.header {width: 100%; vertical-align: middle;}
.body {background-color: white; width: 100%;}
.body h1 {text-align: center; font-size: 25px; font-weight: lighter; padding: 0px; margin: 0px; color: #555;}
.body p {line-height: 1.5em; color: #888;}
.discount {background-color: #38a0ba; width: 100%;}
.discount h2 {color: white; font-size: 20px; font-weight: lighter; text-align: center; letter-spacing: 1px;}
.noty {width: 100%;}

/* Portrait and Landscape */
@media only screen and (min-device-width: 0px) and (max-device-width: 599px) {
	#main {width: 100%;}
}