/* Smartphones */
@media all and (min-width: 0px) and (max-width: 767px) { 
	/*****************************************************************************/
	/*
	/* Common
	/*
	/*****************************************************************************/

	.centralized {
		padding: 0 20px;
	}

	.centralized iframe {
		width: 100%;
	}

	//Content from top
	.contact_us_page, .procad, #posts, .techapps, .forum_container, #userDashboard, #topicWall {
		margin-top: 65px;
		position: relative;
	}

	/* Header */
	#header {
		height: 65px;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 20;
	}

	#header .centralized {
		padding: 0px;
	}

	#header .phone_icon {
		display: block;
		position: absolute;
	    right: 65px;
	    top: 17px;
	}

	#header .phone_icon img {
		width: 30px;
	}

	.logo {
		top: 13px !important;
		margin-right: 0px !important;
		left: 20px;
	}

	.logo img {
		height: 40px !important;
	}

	.sales_line {
		display: none;
	}

	/* Menu */

	.mobile_trigger {
	    position: absolute;
	    right: 20px;
	    top: 24px;
	    width: 20px;
	    height: 17px;
	}

	.mobile_trigger span {
		width: 20px;
		height: 1px;
		background: white;
		display: block;
		position: absolute;
		opacity: 1;
		right: 0px;
		top: 0px;

		-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

		-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	}

	.mobile_trigger span:nth-child(2) {
		top: 7px;
	}

	.mobile_trigger span:nth-child(3) {
		top: 14px;
	}

	.mobile_trigger.clicked span:nth-child(2) {
		opacity: 0;
		right: -10px;
	}

	.mobile_trigger.clicked span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 8px;
	}

	.mobile_trigger.clicked span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: 8px;
	}

	.nav {
		position: fixed;
	    height: auto;
	    overflow: hidden;
	    top: 55px;
	    width: 100%;
	    background: #223c4b;
	    height: auto;
	    padding-top: 10px;
	    max-height: 0px;

	    opacity: 0;
		z-index: -1;

	    -webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

		-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	}

	.nav.active {
		z-index: 1000;
		opacity: 1;
		max-height: 3000px;
		height: 100%;
	}

	.nav a {
		display: block;
		padding: 0px;
		padding-left: 20px;
	}

	.nav > ul {
		height: auto;
		line-height: inherit;
	}

	.nav ul li {
		height: auto;
		display: block;
		line-height: 50px;
		font-size: 16px;
		font-weight: 300;
		padding: 0px;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		opacity: 0;

		-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8);
		transform: scale(0.8);

		-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

		-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	   	-moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
	    transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	}

	.nav ul li.active {
		opacity: 1;

		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}


	.nav li.login {
		float: inherit;
	}

	.nav ul ul {
		position: relative;
		overflow: hidden;
		top: 0px !important;
		opacity: 1;
		background: #1B262D;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		max-height: 0px;
	}

	.nav ul ul li {
	    border-top: 1px solid #223c4b;
	    padding: 0px;
	}

	.nav ul ul li a {
	    color: white;
	}

	.nav ul ul li img {
	    display: none;
	}

	/* News */
	section.news {
		float: inherit;
	}

	section.news h2 {
		font-size: 26px;
	}

	section.news .content {
		width: auto;
		display: block;
		border: none;
		padding-left: 0px;
	}

	.news_twitter {
		padding: 30px 0;
	}

	section.twitter {
		float: inherit;
		padding-top: 50px;
		max-width: inherit;
		padding: 0;
	}

	section.twitter li:last-child, section.twitter li:nth-child(2) {
		display: none;
	}

	section.twitter h2 {
		font-size: 26px;
	}

	section.news article date {
	    height: auto;
	    width: auto;
	    text-align: left;
	    font-size: 12px;
	    padding-bottom: 10px;
	}

	section.news .btn, section.twitter .btn {
		width: 150px;
		margin: 30px auto;
	}

	/* Submenu */
	#submenu {
		height: 43px;
		line-height: 43px;
		top: 65px !important;
		position: fixed !important;
		z-index: 10;
	}

	#submenu nav {
		display: none;
	}

	#submenu h1 {
		font-size: 23px;
	}

	#submenu .actions .btn {
		margin-top: 0px;
	}

	/* Hero Image */
	#introHero {
		margin-top: 43px;
		height: auto;
	}

	#introHero .centralized {
		height: auto;
		background: rgba(0, 0, 0, 0.6);
	}

	#introHero .wrap {
		position: relative;
		height: auto;
		top: inherit;
		width: auto;
		margin-top: inherit;
		padding: 35px 0;
		z-index: 1;
	}

	#introHero .wrap h2, .procad #introHero .wrap .tag, .procad #introHero .wrap p {
		text-align: center;
	}

	#introHero .wrap h2 span {
		float: inherit;
		padding: 0px;
	}

	#introHero .wrap h2 img {
		display: block;
		margin: 0 auto 20px;
		float: none;
	}

	#introHero .wrap .actions {
		text-align: center;
	}

	#introHero .wrap .actions .btn {
		float: inherit;
		margin: 0 auto 20px;
	}

	#introHero .wrap .actions .to_videos {
		top: inherit;
		left: inherit;
		text-align: center;
	}

	/* Intro Title */
	.intro_title {
		padding: 40px 0;
		font-size: 24px;
	}

	/* ProCad - Demo */
	#demo div {
		width: 100%;
		height: auto;
		padding-bottom: 57.4%;
	}

	#demo div video {
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	}

	/* ProCad - Features */
	#features .centralized {
		margin-bottom: 0px;
	}

	.procad #features {
		padding: 30px 0 0;
	}

	.procad .feature {
		width: auto;
		float: inherit;
		margin: 0 0 40px 0;
	}

	/* Notifications */
	#notification {
		padding: 30px 0;
	}

	#notification h2 {
		line-height: 1.4em;
		font-size: 26px;
	}

	#notification.new_features li {
		float: inherit;
		width: auto;
		height: auto;
		margin: 0 0 50px;
		text-align: center;
	}

	.new_features li h3, .new_features li p {
		text-align: center;
	}

	.new_features a.btn {
		float: inherit;
	}

	/* Product Comparison */
	#productComparison {
		padding: 30px 0;
	}

	#productComparison h2 {
		line-height: 1.3em;
		font-size: 26px;
		padding-bottom: 30px;
	}

	#productComparison .centralized {
		overflow-x: scroll;
	}

	#productComparison .table-info {
		width: 500px;
		-webkit-box-sizing: border-box;
    	padding-right: 20px;
	}

	#productComparison .data td {
		padding: 7px 0;
    	line-height: 1.3em;
	}

	#productComparison .table-info .header div.product {
		line-height: 1.4em;
	}

	/* System Requerements */
	#systemReq {
		padding: 30px 0 0;
	}

	#systemReq h2 {
		font-size: 26px;
		line-height: 1.3em;
		padding-bottom: 30px
	}

	#systemReq .left, #systemReq .right {
		float: inherit;
		width: auto;
	}

	#systemReq li {
		line-height: 1.3em;
		margin-bottom: 10px;
	}

	/* Prices */
	#prices {
		padding: 30px 0 0;
	}

	#prices .package {
		margin: 0 auto 50px;
		display: block;
		width: auto !important;
	}

	#prices .package:last-child {
		margin-bottom: 0px !important;
	}

	#prices .package:first-child ul {
		margin-bottom: 30px;
	}

	#prices .package .price {
		font-size: 45px;
		padding-bottom: 10px;
	}

	#prices .package h3 {
		padding-bottom: 15px;
		line-height: 1.3em;
	}

	#prices .package a {
		margin-top: 20px;
	}

	#prices .package ul {
		margin-bottom: 20px;
	}

	#prices .extra {
		padding: 0 0 30px;
		line-height: 1.5em;
	}

	/* Trial */
	#trial {
		padding: 30px 20px;
	}

	#trial h2 {
		font-size: 26px;
	}

	#trial .btn {
		margin-top: 30px;
	}

	/* Services */
	#services {
		display: block;
	}

	#services .left, #services .right {
		display: block;
		width: auto;
	}

	#services .left {
		padding-bottom: 56.7%;
	}

	#services .right {
		padding: 30px 20px;
	}

	#services .right .container {
		padding: 0px;
	}

	/* Quote */
	#quote {
		right: 50%;
		margin-right: -165px;
		bottom: 20px;
		border-radius: 5px;
	}

	/* Features videos */

	.pop_up_wrapper .pop_up_panel {
		width: auto;
		max-width: inherit;
		padding-top: 0px;
	}

	.pop_up_wrapper .pop_up_panel .video {
		width: 100%;
		float: inherit;
	}

	.pop_up_wrapper .pop_up_panel .description {
		width: auto;
		padding: 20px;
		float: inherit;
	}

	/* Footer */
	#footer {
		padding: 30px 0 0;
	}
	#footer .footer_nav li, #footer .lower_footer a, #footer .lower_footer span {
		display: block;
	}

	#footer .footer_nav li {
		line-height: 34px;
	}

	#footer .location {
		padding-bottom: 20px;
	}

	#footer .location, #footer .copyright, #footer .site_info {
		float: inherit;
	}

	#footer .copyright {
		margin-bottom: 20px;
	}

	#footer .location .select_country {
		float: inherit;
	}

	#footer .lower_footer {
		padding: 15px;
		height: auto;
		line-height: 1.3em;
		width: auto;
	}

	#footer .lower_footer {
		padding: 15px;
		height: auto;
		line-height: 1.3em;
		width: auto;
	}

	#footer .lower_footer .centralized {
		padding: 0px;
	}

	#footer .lower_footer span:last-child {
		display: none;
	}

	#footer .lower_footer span {
		margin-top: 20px;
	}

	/*
		Home Page
	*/

	/* Showcase */
	.home .showcase h1 {
		font-size: 26px;
		padding-top: 30px;
	}

	#main_products .product {
		display: block;
	}

	#main_products .product h3 {
		padding: 40px 0;
	}

	#main_products .product .half {
		display: block;
		width: auto;
	}

	.home .showcase .centralized .btn {
		margin-top: 50px;
	}

	/* Main Product */
	#main_products .product .half_2 {
		height: auto;
	}

	#main_products .product.cadprofi .half_2 {
		height: auto;
	}

	#main_products .product .half_1 .container {
		width: auto !important;
		float: inherit !important;
		padding: 0 20px;
	}

	#main_products .product .feature {
		width: auto;
	}

	#main_products .product .btn {
		margin: 0 auto;
	}

	#main_products .product .half_2 .demo {
		width: auto;
		left: inherit;
		padding: 0 20px;
	}

	#main_products .product .half_2 .demo img {
		width: 100%;
	}

	/* Notifications */

	.home #notification.active {
		height: 400px !important;
	}

	.home #notification .window {
		width: 300px;
		margin-left: -150px;
	}

	.home #notification .window #mailSurname, .home #notification .window #mailName, .home #notification .window #mailEmail {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.home #notification .window .send {
		width: 250px;
	}

	.home #notification .logos img {
		width: 60px;
	}

	.home #notification .logos img:last-child {
		width: 57px;
	}

	/*
		Professional CAD Page
	*/

	/* features */

	.procad .feature {
		margin-bottom: 0px;
		padding: 10px 0;
		border-bottom: 1px solid #E3E8EA;
	}

	.procad .feature.last {
		width: auto;
	}

	.procad #features .centralized:nth-child(2) .feature.last {
		border-bottom: 0px;
	}

	.procad .feature h3 {
		margin-bottom: 0px;
	}

	.procad .feature h3 img {
		width: 29px;
	}

	.procad .feature h3 span {
		padding-top: 5px;
		font-size: 18px;
	}

	.procad .feature ul {
		display: none;
		padding-top: 20px;
	}

	.procad .feature ul li {
		margin: 0px;
		display: block;
		padding: 10px 0;
		border-bottom: 1px solid #eee;
	}

	.procad .feature ul li:last-child {
		border-bottom: 0px;
	}

	.procad .feature ul li a {
		border-bottom: 0px;
		display: block;		
		position: relative;
		left: -300px;

		-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   		-moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     	-o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */

		-webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   		-moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     	-o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000); /* easeOutQuart */
	}

	.procad .feature ul li.active a {
		left: 0px;
	}

	/* Notification - New Features */
	#notification.new_features {
		margin-top: 30px;
	}

	/*
		Tech Apps Page
	*/

	/* Products */
	#cadprofiProducts {
		padding: 0 20px;
	}

	#cadprofiProducts .product {
		width: auto;
		max-width: 452px;
		min-width: 280px;
		display: block;
		margin: 0 auto 50px;
	}

	#cadprofiProducts .product img {
		width: 100%;
	}

	.techapps #features .feature {
		float: none;
		margin: 0 auto 40px !important;
		max-width: 286px;
		width: auto;
		min-width: 280px;
	}

	.techapps #introHero .centralized {
		background: transparent;
	}

	.techapps #introHero .preview {
		display: none;
	}

	.techapps #introHero .wrap p {
		text-align: center;
	}

	.techapps #trial {
		margin-top: 40px;
	}


	/*
		News Index Page
	*/

	#posts .latest_article {
		height: auto;
	}

	#posts .latest_article .latest_post:before {
		display: none;
	}

	#posts .latest_article .latest_post {
		position: relative;
		width: auto;
		left: inherit;
		margin-left: 0px;
		padding: 20px 20px 30px;
		border: none;
	}

	#postsWall .posts {
		padding: 0px;
		border: none;
	}

	#postsWall article {
		margin-bottom: 20px;
	}

	/*
		News Internal Page
	*/

	#postInner .image_and_title {
		padding: 50px 20px;
		height: auto;
	}

	#postInner .image_and_title h1 {
	    width: auto;
	    font-size: 33px;
	    bottom: inherit;
	    left: inherit;
	    margin-left: 0px;
	    position: relative;
	    line-height: 1.3em;
	}

	#postInner .image_and_title span {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	#postInner .image_and_title .by_author {
		position: relative;
		bottom: 0px;
		margin: 20px 0 10px;
	}

	/*
		User Sessions
	*/

	.sign {
		width: auto;
		margin: 40px 30px 30px 30px !important;
		padding: 20px;
	}

	.sign .remember, .sign .remember input {
		float: inherit;
	}

	.sign .actions.login {
		float: inherit;
		margin: 20px auto 0;
	}

	.sign .actions.login input {
		margin: 0 auto;
	}

	.sign .sure {
		width: auto;
	}

	.forgotten {
		margin-bottom: 40px;
	}

	/*
		User Dashboard
	*/

	#userDashboard {
		padding: 0px 20px;
	}

	#userDashboard .apps_download h3 {
		line-height: 1.3em;
	}

	#userDashboard .apps_download > li {
		width: auto;
		padding: 20px;
	}

	#userDashboard .apps_download .left, #userDashboard .apps_download .right {
		float: inherit;
		width: auto;
		padding-right: 0px;
		border: none;
	}

	#userDashboard .apps_download li.cad_profi .right .btn {
		margin-top: 20px;
	}

	/*
		Landing Page
	*/

	#landingPage #header {
		height: 80px;
	}

	#landingPage #header .centralized {
		padding: 0 20px;
	}

	#landingPage #header .logo {
		left: 0px;
		width: 110px;
		top: 18px !important;
	}

	#landingPage #header .phone {
		top: 25px;
	}

	#landingPage #header .phone span {
		font-size: 15px;
	}

	#landingPage #header .phone img {
		width: 22px;
		right: 10px;
		top: 3px;
	}

	#landingPage #show .top {
		padding-top: 50px;
		height: auto;
	}

	#landingPage #show .window.first {
		width: auto !important;
		position: relative;
		top: 0px;
	}

	#landingPage #show .gstarcad_ui img {
		display: none;
	}

	#landingPage #show .gstarcad_ui .video {
		position: relative;
		left: inherit;
		top: 0px;
		width: 100%;
		margin-left: 0px;
		height: auto;
	}

	#landingPage #show {
		margin-bottom: 0px;
		height: auto;
	}

	#landingPage #prices .package {
		display: block;
		margin: 0px;
	}

	#landingPage #prices .package h3 {
		text-align: left;
	}

	#landingPage #prices .package ul {
		padding-left: 0px;
		text-align: left;
	}

	#landingPage #prices .starts_from {
		line-height: 1.4em;
		padding-left: 20px;
		padding-right: 20px;
	}

	#landingPage #prices {
		padding: 60px 0 30px;
	}

	#landingPage #show .window.second {
		width: 300px;
		left: 50%;
		margin-left: -150px;
	}

	#landingPage #show .window.second h2 {
		line-height: 1.5em;
		padding-top: 0px;
	}

	#landingPage #show .window.second.active {
		top: 180px;
	}

	#landingPage #mailEmail, #landingPage #mailName, #landingPage #mailSurname {
		display: block;
		width: 256px;
		margin-bottom: 10px;
	}

	#landingPage.active #show .top {
		height: 600px;
	}

	/*
		Forums
	*/

	#topicWall {
		padding: 40px 20px !important;
	}

	#topicWall .content, #topicWall .author {
		float: inherit !important;
		width: auto !important;
		margin: 0px !important;
		word-wrap: break-word;
	}

	#topicWall .content {
		padding: 20px !important;
	}

	#topicWall .action, .forum_container .action {
		text-align: center;
	}

	#topicWall .answer {
		width: 60px !important;
		float: none !important;
		display: inline-block;
		margin: 0 5px !important;
	}

	#topicWall .delete {
		width: 115px !important;
		float: none !important;
		display: inline-block;	
		margin: 0 5px !important;
	}

	#topicWall .title_area h1 {
		float: none !important;
	}

	#topicWall .edit, #topicWall .save, #topicWall .edit, #topicWall .close {
		padding: 5px 10px;
		right: 0px;
		top: 12px;
	}

	.forum_container {
		padding: 40px 20px;
	}

	.forum_container .forum li {
		line-height: 1.3em;
		height: auto;
		padding: 20px 0;
	}

	.forum_container h4 {
		float: inherit;
	}

	.forum_container .forum li span, .forum_container .right span {
		display: none;
	}

	/*
		Contact us
	*/

	#terms {
		padding: 40px 20px;
	}

	.contact_us_page .left, .contact_us_page .right, .contact_us_page .action .btn {
		float: inherit;
		width: auto;
	}

}

/* Tablets */
@media all and (min-width: 768px) and (max-width: 1023px) { 
	/*
		Common
	*/

	.centralized {
		padding: 0 20px;
	}

	#siteMap, #terms {
		padding: 60px 30px !important;
	}

	/* Header */
	#header {
		width: auto;
	}

	/* Submenu */
	#submenu nav {
		display: none;
	}

	#submenu select {
		display: block;
	    float: right;
	    top: 26px;
	    position: relative;
	    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAA1UlEQVRoQ+2VQQrDMBADNy9v+/PiQ6AUiuXMimCqXHKIV9nRBHLU5tex+f4VgLsNxkAMwAbyCcEC8XgM4AphQAzAAvF4DOAKYUAMwALxeAzgCmHAXxt4VtUDFniOv6pq5C1f1EAHxOXlBy0FGBkEAi3fBXAVAi/fCbAK0bJ8N4AK0ba8A2AG0bq8C+AXRPvyToBvCMvyboAT4vO+/KOaDXT8B2bvsD4PgLVeITwGhJKsR2LAWq8QHgNCSdYjMWCtVwiPAaEk65EYsNYrhMeAUJL1yPYG3kQQEzGc4fSmAAAAAElFTkSuQmCC") #eee no-repeat right center;
	    background-size: 20px;
	    border: none;
	    font-size: 13px;
	    padding: 8px;
	    min-width: 162px;
	}

	/* Prices */
	#prices .package {
		width: 220px;
		margin: 0 9px;
	}

	#prices .package .price {
		font-size: 45px;
	}

	#prices .package a {
	    width: 134px;
	}

	/* Services */
	#services .right .container {
		padding: 0 40px;
	}

	/* News and Twitter */
	section.news {
		max-width: 440px;
	}

	/* 
		Home Page
	*/

	/* Main Product */
	#main_products .product .half_2 {
		padding-right: 30px;
	}

	#main_products .product .half_1 {
		padding-left: 30px;
	}

	#main_products .product .half_2 .demo img {
		width: 100%;
	}

	/* 
		Professional CAD Page
	*/

	.procad #introHero .wrap h2 img {
		float: inherit;
		display: inline-block;
		vertical-align: middle;
	}

	.procad #introHero .wrap h2 span {
		padding-top: 0px;
	}

	.procad #introHero .wrap {
		top: 100px;
	}

	.procad #introHero .centralized {
		background: rgba(0, 0, 0, 0.6)
	}

	.procad #introHero .wrap .actions .to_videos {
		color: white;
	}

	/* Overview video */
	#demo div {
		width: 100%;
	}

	#demo div video {
		width: 100%;
	}

	/* Features */
	#features .centralized {
		display: table;
		width: 100%;
		padding: 0 30px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		border-spacing: 10px;
    	border-collapse: separate;
	}
	.procad .feature {
		width: 30% !important;
		display: table-cell;
		margin-left: 0px !important;
		padding: 0 10px;
		float: inherit;
		vertical-align: top;
	}

	.new_features .centralized {
		width: auto !important;
		display: block !important;
	}

	.new_features ul {
		text-align: center;
	}

	.new_features li {
		width: 40%;
		display: inline-block;
		float: inherit;
		margin: 0px;
		padding: 0 25px;
	}

	.new_features li:last-child {
		float: left;
		margin-left: 20px;
	}

	/* Features videos */
	.pop_up_wrapper .pop_up_panel {
		padding-top: 60px;
	}

	.pop_up_wrapper .pop_up_panel .description span {
		display: none;
	}

	.pop_up_wrapper .pop_up_panel .video {
		width: 100%;
		float: none;
	}

	.pop_up_wrapper .pop_up_panel .description {
		float: none;
		width: auto;
		padding: 40px 0 0 0;
	}

	.pop_up_wrapper .pop_up_panel .description .btn {
	    width: 120px;
	    display: inline-block;
	}

	/* System Reqirements */
	#systemReq .centralized {
		max-width: 725px;
	}

	#systemReq .left {
		width: 440px;
	}

	.pop_up_wrapper .pop_up_panel .description .close {
		width: 100px;
		margin-left: 15px;
	}

	/* 
		Tech Apps Page 
	*/

	.techapps #features {
		width: auto !important;
		display: block !important;
		text-align: center;
	}

	.techapps #features .feature {
		display: inline-block;
		float: none;
		margin: 20px !important;
	}

	/*
		News Index Page
	*/

	#posts .latest_article {
		height: auto;
		padding-top: 150px;
		padding-left: 80px;
	}

	#posts .latest_article .latest_post {
	    position: relative;
	    width: auto;
	    left: inherit;
	    margin-left: 0px;
	    max-width: 785px;
	    margin: 0px auto;
	}

	#postsWall .centralized {
		max-width: 800px;
		padding: 0px 30px 0 80px;
	}

	/*
		News Inner Page
	*/

	#postInner .image_and_title {
		height: auto;
		padding-top: 150px;
	}

	#postInner .image_and_title span {
		top: 0px;
		left: 0px;
	}

	#postInner .image_and_title h1 {
		position: relative;
		width: auto;
		left: 0px;
		margin: 0px;
		bottom: 0px;
		padding: 0 30px 23px;
	}

	#postInner .image_and_title .by_author {
		position: relative;
		padding-bottom: 60px;
		bottom: 0px;
	}

	/*
		Download Area
	*/

	#userDashboard .apps_download {
		padding: 0 20px;
	}

	#userDashboard .apps_download > li {
		width: auto;
	}

	#userDashboard .apps_download .left {
		width: 70%;
	}

	#userDashboard .apps_download .right {
		width: 25%;
	}

	/* 
		Tech Apps Page
	*/

	.techapps #introHero .preview {
		left: 50%;
		margin-left: -372px;
		bottom: -280px;
	}

	.techapps #introHero .wrap h2 img {
		float: inherit;
		display: inline-block;
		vertical-align: middle;
	}

	#introHero .wrap h2 span {
		display: inline-block;
		float: inherit;
		vertical-align: middle;
	}

	#introHero .wrap {
		width: 500px;
	    position: relative;
	    height: auto;
	    top: 50px;
	    margin: 0 auto;
	    text-align: center;
	}

	#introHero .wrap .actions {
		width: 264px;
		margin: 0 auto;
	}

	/*
		Landing Page
	*/

	#landingPage #header {
		height: 95px;
	}

	#landingPage #header .logo {
		top: 20px;
	}

	#landingPage #header .phone {
		top: 31px;
	}

	#landingPage #show .window.second {
		width: 730px;
		margin-left: -365px;
		left: 50%;
	}

	#landingPage h2 {
		font-size: 34px;
	}

	#landingPage #show .window.first {
		position: relative;
		width: auto;
		top: 0px;
	}

	#landingPage #show .gstarcad_ui {
		padding: 100px 30px 0;
	}

	#landingPage #show .gstarcad_ui .video {
		left: 0px;
		margin-left: inherit;
		width: 100%;
		position: relative;
		top: 0px;
	}

	#landingPage #show .gstarcad_ui img {
		display: none;
	}

	#landingPage #prices .package {
		margin: 0 10px;
		width: 218px;
	}

	#landingPage #prices .package ul {
		padding-left: 0px;
	}

	#landingPage #prices {
		padding: 0px 0px 20px;
	}

	#landingPage #prices .starts_from {
		padding: 40px 30px;
		font-size: 21px;
	}

}





















