// Place all the styles related to the forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#topicWall {
	padding: 60px 0;

	-webkit-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}

#topicWall .title_area {
	overflow: hidden;
}

#topicWall .title_area h1 {
	padding-bottom: 30px;
	color: #333;
	float: left;
	word-wrap: break-word;
}

#topicWall .title_area .edit_cont {
	float: left;
	position: relative;
	top: 10px;
	margin-left: 15px;
}

#topicWall .title_area .edit_cont .edit {
	top: 0px;
}

#topicWall .title_area .edit_cont .edit.hide {
	top: -10px;
}

#topicWall .title_area .edit_cont .save.show {
	top: 0px !important;
}

#topicWall .author {
	float: left;
    width: 100px;
    margin-right: 20px;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1.6em;
    color: #333;
    font-weight: 600;
    background: white;
}

#topicWall .content {
	font-size: 14px;
	line-height: 1.6em;
	float: left;
	max-width: 650px;
	color: #666;
	padding-left: 10px;
    border-left: 2px solid #e2e2e2;
    background: white;
    padding-right: 10px;
    margin-right: 10px;
}

#topicWall .edit, #topicWall .save, #topicWall .edit, #topicWall .close {
	position: relative;
	background: white;
	padding: 5px 10px 5px 0;
	top: 18px;
	opacity: 1;
	position: absolute;
	z-index: 1;

	-webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */
}

#topicWall .edit:hover, #topicWall .save:hover, #topicWall .close:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
} 

#topicWall .save {
	top: 25px;
	opacity: 0;
	z-index: -1;
	color: green;
	cursor: pointer;
}

#topicWall .close {
	color: #FF5A5A;
	top: 38px;
    margin-left: 30px;
    opacity: 0;
	z-index: -1;
	cursor: pointer;
}

#topicWall .edit.hide {
	top: -5px;
	opacity: 0;
	z-index: -1;
}

#topicWall .save.show {
	top: 18px !important;
	opacity: 1;
	z-index: 1;
}

#topicWall .close.show {
	top: 18px;
	opacity: 1;
	z-index: 1;
}

#topicWall .edit_cont .close.show {
	top: 0px;
}

#topicWall .written {
	float: right;
	font-size: 13px;
	color: #aaa;
	background: white;
    padding-left: 12px;
    padding-top: 4px;
}

#topicWall ul {
	padding-bottom: 30px;
}

#topicWall ul li {
	padding: 20px 0;
	position: relative;
	background: asset-url("topic-liner.gif") repeat-x 10px 31px;
	background-size: 3px 1px;
}

#topicWall .action, .forum_container .action {
	position: relative;
	overflow: hidden;
}

#topicWall .answer {
	width: 80px;
}

#topicWall .post, .forum_container .new_topic, #topicWall .answer, #topicWall .delete {
	float: left;
}

#topicWall .delete {
	margin-left: 20px;
}

#topicWall .contenteditable {
	outline: none;
}

#topicWall #wysiwygEditor {
	position: absolute;
    bottom: -6px;
    left: 130px;
}

#topicWall #wysiwygEditor button {
	opacity: 0;
	position: relative;
	left: 0px;
	bottom: -30px;
	z-index: -1;

	-webkit-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
   	-moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000); /* easeInOutCubic */

    background: #e2e2e2;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

#topicWall #wysiwygEditor button.active {
	opacity: 1;
	bottom: -15px;
	z-index: 1;
}

/* Initial topic comment */
#topicWall li.initial .content {
	border-color: #223c4b;
	color: #223c4b;
	background: #DBE5EA;
}

/* Save Messages */
#topicWall .outcome, .forum_container .outcome {
	font-size: 13px;
    top: 13px;
    position: absolute;
    left: 141px;
    padding-top: 0px;
}

#topicWall .outcome.success, .forum_container .outcome.success {
	color: green;
}

#topicWall .answer_outcome, .forum_container .answer_outcome {
	font-size: 13px;
    position: relative;
    padding: 10px;
    display: block;
    left: 109px;
    background: white;
}

#topicWall li.error .fail, .forum_container li.error .fail {
	color: #FF5A5A;
}

#topicWall li.success .succeeded, .forum_container li.success .succeeded {
	color: #78ce72;
}

#topicWall li.success .content, .forum_container li.success .content {
	border-color: #78ce72;
}

#topicWall li.error .content, .forum_container li.error .content {
	border-color: #FF5A5A;
}




