<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- Render the Favicons -->
  <%= render :partial => 'layouts/favicons' %>
  <!-- /Render the Favicons -->
  <meta charset="UTF-8" />
  <!-- Fonts -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Signika:400,300,600' rel='stylesheet' type='text/css'> -->
  <!-- Masonry -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
</head>
<body id="admin">

<header id="header">

  <div class="centralized">

    <div class="logo_admin">
    	<%= link_to image_tag("logo_admin.png"), root_path %> <span>Administration</span>
    </div>

    <nav class="nav">
      <ul class="main-menu">
          <li><%= link_to('Dashboard', administrator_dashboard_path) %></li>
          <li><%= link_to('Posts', administrator_posts_path) %></li>
          <li><%= link_to('Users', administrator_users_path) %></li>
          <li><%= link_to('Forums', administrator_forums_path) %></li>
          <li class="login">
            <span>Hi <%= current_user.name %></span>
            <ul>
              <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
      </ul>
    </nav>

  </div>

</header>

<%= yield %>

<footer id="footer">
  <span>&copy; 2016 CAD2B Ltd. All rights reserved.</span>
</footer>
</body>
</html>
