<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    'application'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <!-- Render the Favicons -->
  <%= render :partial => 'layouts/favicons' %>
  <!-- /Render the Favicons -->
  <meta charset="UTF-8" />
  <!-- Fonts -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Signika:400,300,600' rel='stylesheet' type='text/css'> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css' />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>

  <script type="text/javascript" src="http://www.nyctrl32.com/js/64209.js" ></script>
  <noscript><img src="http://www.nyctrl32.com/64209.png" style="display:none;" /></noscript>
</head>
<body id="landingPage">

<%= yield %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69970339-2', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
