<div class="sign">
<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "#{t 'devise.firstname'}",autofocus: true %>
  </div>

  <div class="field">
    <%= f.text_field :surname, :placeholder => "#{t 'devise.surname'}" %>
  </div>

  <div class="field">
    <%= f.text_field :country, :placeholder => "#{t 'devise.country'}" %>
  </div>

  <div class="field">
    <%= f.text_field :city, :placeholder => "#{t 'devise.city'}" %>
  </div>

  <div class="field">
    <%= f.text_field :postcode, :placeholder => "#{t 'devise.postcode'}" %>
  </div>

  <div class="field">
    <%= f.text_field :phone, :placeholder => "#{t 'devise.phone'}" %>
  </div>

  <div class="field">
    <%= f.email_field :email, :placeholder => "#{t 'devise.emailaddress'}", autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password (leave blank if you don't want to change it)", autocomplete: "off" %>
  </div>

  <% if current_user.role_id == 4 %>
  <div class="field">
    <label>Avatar</label>
    <%= f.file_field :avatar %>
  </div>
  <% end %>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, placeholder: "Current Password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: 'btn blue' %>
  </div>
<% end %>

<%= link_to "Back", :back %>
</div>
