<div class="sign">
  <h1><%= t "devise.signup" %></h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :name, :placeholder => "#{t 'devise.firstname'}",autofocus: true %>
    </div>

    <div class="field">
      <%= f.text_field :surname, :placeholder => "#{t 'devise.surname'}" %>
    </div>

    <div class="field">
      <%= f.text_field :country, :placeholder => "#{t 'devise.country'}" %>
    </div>

    <div class="field">
      <%= f.text_field :city, :placeholder => "#{t 'devise.city'}" %>
    </div>

    <div class="field">
      <%= f.text_field :postcode, :placeholder => "#{t 'devise.postcode'}" %>
    </div>

    <div class="field">
      <%= f.text_field :phone, :placeholder => "#{t 'devise.phone'}" %>
    </div>

    <div class="field">
      <%= f.email_field :email, :placeholder => "#{t 'devise.emailaddress'}" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password ( #{@minimum_password_length} characters minimum )" %>
      <% else %>
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      <% end %>
      
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirm" %>
    </div>

    <div class="field">
      <%= f.check_box :subscribe, checked: true %><label><%= t "devise.register.discount" %></label>
    </div>

    <div class="actions">
      <%= f.submit "#{t 'devise.signup'}", :class => "btn green fullwidth" %>
    </div>
  <% end %>

  <p class="sure"><%= t "devise.register.privacy" %> <%= link_to "#{t 'devise.register.privacylink'}", privacy_policy_path, target: "_blank" %></p>

  <p class="change_action"><%= t "devise.register.haveaccount" %> <%= render "users/shared/links" %></p>
</div>
